.css-badass {
    color:#BADA55;
    background: #484848;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.css-css {
    color:#C55;
    background: #484848;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
}