@font-face {
    font-family: ProximaBold;
    src: url(../fonts/proxima-bold.ttf);
}

@font-face {
    font-family: ProximaRegular;
    src: url(../fonts/proxima-regular.ttf);
}

@font-face {
    font-family: ProximaThin;
    src: url(../fonts/proxima-thin.ttf);
}

@font-face {
    font-family: SourceSansProRegular;
    src: url(../fonts/SourceSansPro-Regular.otf);
}