.home-hero {
    background: url(../img/NYC01.jpg);
    background-size: cover;
    background-position-y: bottom;
    height:100%;
    width:100%;
    margin-top: -70px;
}

.home-hero .hero-content {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.home-hero h1 {
    margin-top: 0;
    font-size: 35px;
    letter-spacing: 6px;
    word-spacing: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.home-hero h2 {
    margin-top: 20px;
    font-family: SourceSansProRegular, serif;
    font-size: 17px;
    text-align: center;
    color: #48698b;
    line-height: 25px;
}

.home-hero h2 a {
    text-decoration: none;
    color: #48698b!important;
}

.home-hero .call-to-action {
    width: 500px;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
}

.home-hero .call-to-action .button-profil,
.home-hero .call-to-action .button-cv {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 18px 0 !important;
    font-family: ProximaBold, serif;
    font-size: 15px;
}

.home-hero .button-profil {
    background: white;
    color: #484848;
    margin-bottom: 20px!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.home-hero .button-profil:hover {
    background: #dcdcdc;
    box-shadow: 0 2px 0 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.home-hero .button-cv {
    background: #484848;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.home-hero .button-cv:hover {
    background: #676767;
    box-shadow: 0 2px 0 0 #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.home-hero .button-cv i {
    margin-right: 8px;
}

/* ---------------------------------------------- */

.home-intro {
    text-align: center;
}

.home-intro > img {
    margin: 0 auto;
    margin-top: 90px;
    width: 160px;
    height: 160px;
    position: relative;
    border: 3px solid #484848;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    background: #484848;
}

.home-intro .block-title {
    position: relative;
    margin-top: -20px;
}

.home-intro .block-title h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: ProximaThin, serif;
    font-size: 14px;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    background: #484848;
    color: #fff;
    z-index: 1;
}

.home-intro .block-title .custom-line {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: -1px;
    border: 1px solid #dcdcdc;
}

.home-intro .key-info {
    margin-top: 45px;
    margin-bottom: 100px;
}

.home-intro .key-info .col {
    margin: 30px 0;
}

.home-intro .key-info .col i {
    font-size: 35px;
    color: #80b5df;
}

.home-intro .key-info .col h1 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-family: ProximaBold, serif;
    text-transform: uppercase;
}

.home-intro .key-info .col p {
    width: 90%;
    margin: 0 auto;
    font-family: SourceSansProRegular, serif;
    color: #848484;
}

/* ---------------------------------------------- */

.home-education {
    background: #eaeaea;
    margin-bottom: 200px;
}

.home-education > .container > .row {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-education .cover-picture {
    background: url(../img/EISTI.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;
    max-height: 370px;
    border: 8px solid #fff;
}

.home-education .content-container {
    width: 90%;
    margin: 0 auto;
}

.home-education h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: ProximaThin, serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 15px;
    background: #484848;
    color: #fff;
}

.home-education h2 {
    font-family: SourceSansProRegular, serif;
    margin-top: -5px;
    font-size: 15px;
    color: #848484;
}

.home-education h2:first-of-type {
    margin-top: 40px;
}

.home-education h2 i {
    margin-right: 6px;
}

.home-education h2 a {
    color: #80b5df;
    text-decoration: none;
}

.home-education .cursus {
    margin-top: 30px;
    border-left: 5px solid #80b5df;
    padding-top: 20px;
    padding-bottom: 25px;
}

.home-education .cursus li {
    font-family: SourceSansProRegular, serif;
    margin-top: 15px;
    margin-left: 20px;
    color: #484848;
}

.home-education .cursus li:first-of-type {
    margin-top: 0;
}

.home-education .cursus li span {
    font-family: ProximaBold, sans-serif;
    color: #484848;
    padding-right: 15px;
}

