/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE DEVICES PROPERTIES */

@media screen and (max-width: 600px) {

    .home-hero .call-to-action {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    .home-hero {
        background: #80b3de;
        height: auto;
        width:100%;
        margin-top: -70px;
    }

    .home-hero .hero-content {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    .home-hero h1 {
        padding-top: 65px;
    }

    .home-hero h2 {
        margin: 0 auto;
        width: 80%;
    }

    .home-hero .call-to-action {
        padding-bottom: 50px;
    }

    .modal {
        top: 0!important;
        bottom: 0;
        height: 80%;
        width: 90%;
    }

    .about-detection .content-container p {
        width: 85%;
        columns: 1;
    }

}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* TABLET DEVICES PROPERTIES */

@media screen and (min-width: 601px) and (max-width: 992px) {

    .modal {
        top: 0!important;
        bottom: 0;
        height: 80%;
        width: 80%;
    }

    .about-detection .content-container p {
        width: 70%;
        columns: 1;
    }

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE AND TABLET DEVICES PROPERTIES */

@media screen and (max-width: 992px) {

    .home-education .content-container {
        width: 100%;
    }

    footer.page-footer {
        text-align: center!important;
    }

    footer.page-footer p {
        width: 90%;
        margin: 0 auto;
        text-align: center!important;
    }

    footer.page-footer > .container > .row > .col:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .websites-tabs .tabs i {
        font-size: 25px;
        margin-top: 45px;
    }

    .about-roadtrip > .container > p {
        width: 90%;
    }

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* DESKTOP PROPERTIES */

@media screen and (min-width: 993px) {

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* SPECIFIC PROPERTIES */

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


/* NAVBAR ITEM SHORTER */
@media screen and (max-width: 1200px) {

    nav .conception {
        display: none;
    }

}

/* BIG SCREEN */
@media screen and (min-width: 1300px) {

    .home-intro .key-info .col p,
    .about-intro .hobbies .col p {
        width: 65%;
    }

}
