/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE DEVICES PROPERTIES */

@media screen and (max-width: 600px) {

    .modal {
        top: 0!important;
        bottom: 0;
        height: 80%;
        width: 90%;
    }

    .home-hero .call-to-action {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    .home-hero {
        background: #80b3de;
        height: auto;
        width:100%;
        margin-top: -70px;
    }

    .home-hero .hero-content {
        position: relative;
        margin: auto;
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    .home-hero h1 {
        font-size: 25px;
        padding-top: 90px;
    }

    .home-hero h2 {
        font-size: 15px;
        margin: 0 auto;
        width: 70%;
        margin-top: 35px;
    }

    .home-hero .call-to-action {
        padding-bottom: 65px;
    }

    .home-intro .block-title h1 {
        padding: 15px 35px;
    }

    .home-intro > .container > img {
        margin: 0 auto;
        margin-top: 50px;
    }

    .home-intro .key-info .col p {
        width: 100%;
        font-size: 13px;
    }

    .home-intro .key-info {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .home-education > .container {
        width: 85%!important;
    }

    .home-education h1 {
        padding: 15px 30px;
    }

    .home-education > .container > .row {
        padding-top: 55px;
        padding-bottom: 50px;
    }

    .home-education h2 {
        font-size: 14px;
    }

    .home-education .cursus li {
        font-size: 13px;
    }

    .home-timeline > .block-title > h1 {
        padding: 15px 35px;
    }

    .home-timeline > .block-title {
        padding-top: 35px;
    }

    #cd-timeline {
        padding-bottom: 85px;
    }

    .home-timeline > #cd-timeline {
        width: 95%;
    }

    .cd-timeline-block:first-child {
        margin-top: 50px;
    }

    .cd-timeline-content h2 {
        text-align: center;
    }

    .cd-timeline-content p {
        font-size: 14px!important;
    }

    .cd-timeline-content .tasks-list li {
        font-size: 13px;
    }

    .cd-timeline-content .call-to-action {
        display: inline-block;
        margin-bottom: 5px;
    }

    .home-award .block-title h1 {
        padding: 15px 35px;
    }

    .home-award > .container > img {
        margin-top: 55px;
    }

    .home-award .container-fluid {
        margin-top: 30px;
        padding-bottom: 50px;
    }

    .home-award h2 {
        font-size: 14px;
    }

    .home-award .details {
        margin-top: 30px;
    }

    .home-award .details li {
        font-size: 13px;
    }

    .home-award .details li span:first-of-type {
        width: 85px;
    }

    .home-award .actions {
        padding-top: 5px;
        padding-bottom: 25px;
    }

    .home-technology > .container {
        width: 90%;
        padding-top: 65px;
        padding-bottom: 40px;
    }

    .home-technology .technologies {
        padding-top: 50px;
    }

    .home-technology .details {
        width: 100%;
    }

    .home-technology .technology ul {
        width: 100%;
    }

    .home-technology .technology li {
        padding-left: 20px;
    }

    .home-technology .technology p {
        font-size: 13px;
    }

    .property-map-info {
        padding: 5px 50px!important;
        padding-bottom: 11px!important;
        top: 40px!important;
        left: 50%!important;
        margin-left: -140px;
    }

    .home-international > .container {
        padding-top: 80px;
        padding-bottom: 15px;
    }

    .home-international .block-title h1 {
        padding: 15px 35px;
    }

    .home-international .langues {
        margin-top: 45px;
    }

    .home-cool #typeWriteHome-fr,
    .home-cool #typeWriteHome-en {
        width: 75%;
        margin: 0 auto;
        margin-top: 12px;
        height: 60px;
    }

    .contact-form .form-groups {
        width: 95%!important;
    }

    .services-hero {
        height: 600px;
    }

    .services-hero > section {
        padding-top: 135px;
    }

    .services-hero > h1 {
        font-size: 30px;
    }

    .services-hero > h2,
    .services-hero > h3 {
        font-size: 13px;
    }

    .services-services > .container {
        padding-top: 60px;
        padding-bottom: 65px;
    }

    .services-services .intro {
        width: 100%;
        font-size: 13px;
    }

    .services-services .services .col p {
        width: 90%;
        font-size: 13px;
    }

    .services-realisations > .container {
        padding-top: 70px;
        padding-bottom: 60px;
        width: 85%;
    }

    .services-casestudy > .container {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 85%;
    }

    .services-casestudy .intro .cover-picture {
        height: 350px;
    }

    .services-casestudy .intro .details {
        text-align: left;
        margin-top: 15px!important;
    }

    .services-casestudy .intro .details ul {
        font-size: 12px;
    }

    .services-casestudy .intro .details ul li span:first-of-type {
        width: 100px;
    }

    .services-casestudy .step .container {
        width: 100%;
    }

    .services-casestudy .step > .container > section {
        padding: 15px 30px;
    }

    .services-casestudy .logowork {
        text-align: center;
    }

    .services-casestudy .logowork img {
        width: 80%;
    }

    .services-casestudy .logowork .panel {
        float: none;
    }

    .services-casestudy .logowork .finished {
        width: 70%;
        margin-top: 25px;
        margin-left: 0;
    }

    .services-testimonials .testimonial {
        width: 100%;
        padding: 20px 35px;
    }

    .services-testimonials .testimonial p {
        column-count: 1;
    }

    .services-testimonials .container {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .services-logos .container {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    .services-logos h1 {
        margin-bottom: 40px;
    }

    .page-contact > .container {
        padding-top: 70px!important;
        padding-bottom: 50px!important;
    }

    .about-hero {
        height: 550px;
        background-position-x: left;
    }

    .about-hero h1 {
        color: #484848;
        padding-top: 120px;
        font-size: 25px;
    }

    .about-hero .separator {
        border-bottom: 2px solid rgb(208, 208, 208);
    }

    .about-hero h2 {
        font-size: 14px;
    }

    .about-hero h3 {
        font-size: 16px;
        margin-top: 0;
    }

    .about-hero .button-scroll {
        margin-top: 20px;
    }

    .about-intro .hobbies .col p {
        width: 100%;
        font-size: 13px;
    }

    .about-intro > .container {
        padding-top: 65px;
        padding-bottom: 55px;
    }

    .about-intro > .container > .hobbies {
        margin-top: 25px;
    }

    .about-onfocus .container-fluid {
        padding-bottom: 50px;
    }

    .about-onfocus > .container > img {
        margin-top: 55px;
        width: 90%;
    }

    .about-onfocus .block-title h1 {
        padding: 15px 20px;
        font-size: 13px;
    }

    .about-onfocus h2:first-of-type {
        margin-top: 30px;
    }

    .about-onfocus h2 {
        font-size: 14px;
    }

    .about-onfocus .details li span:first-of-type {
        width: 60px;
    }

    .about-onfocus .actions {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .about-detection .block-title h1 {
        padding: 15px 30px;
    }

    .about-detection > .container {
        padding-top: 70px;
        padding-bottom: 35px;
    }

    .about-detection .content-container {
        padding-top: 30px;
    }

    .about-detection .content-container h2 {
        font-size: 14px;
    }

    .about-detection .content-container p {
        width: 95%;
        columns: 1;
        font-size: 13px;
    }

    .about-detection .content-container h3 {
        font-size: 13px;
        margin-top: 45px;
    }

    .about-detection .content-container .row .col {
        margin-bottom: 15px;
    }

    .about-roadtrip > .container {
        width: 100%;
        padding-top: 65px;
        padding-bottom: 80px;
    }

    .about-roadtrip > .container > h1 {
        margin-bottom: 30px;
        padding: 15px 30px;
    }

    .about-roadtrip > .container > p {
        margin-bottom: 30px;
    }

    .about-roadtrip #next-step {
        padding: 10px;
        padding-right: 6px;
    }

    .about-roadtrip #prev-step {
        padding: 10px;
        padding-left: 6px;
    }

}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* TABLET DEVICES PROPERTIES */

@media screen and (min-width: 601px) and (max-width: 992px) {

    .modal {
        top: 0!important;
        bottom: 0;
        height: 80%;
        width: 80%;
    }

    .about-detection .content-container p {
        width: 70%;
        columns: 1;
    }

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE AND TABLET DEVICES PROPERTIES */

@media screen and (max-width: 992px) {

    .profile-education .content-container {
        width: 100%;
    }

    footer.page-footer {
        text-align: center!important;
    }

    footer.page-footer p {
        width: 90%;
        margin: 0 auto;
        text-align: center!important;
    }

    footer.page-footer > .container > .row > .col:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .services-ready > .container > .row {
        display: inherit;
    }

    .services-ready h1 {
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .services-ready p {
        text-align: center;
    }

    .services-ready p br {
        display: none;
    }

    .services-ready button {
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .services-shopify > .container > .row {
        display: inherit;
    }

    .services-tabs .tabs i {
        font-size: 25px;
        margin-top: 45px;
    }

    .about-roadtrip > .container > p {
        width: 90%;
    }

    .sidenav {
        display: none;
    }

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* DESKTOP PROPERTIES */

@media screen and (min-width: 993px) {

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* SPECIFIC PROPERTIES */

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


/* NAVBAR ITEM SHORTER */
@media screen and (max-width: 1200px) {

    nav .conception {
        display: none;
    }

}

/* BIG SCREEN */
@media screen and (min-width: 1300px) {

    .profile-intro .key-info .col p,
    .about-intro .hobbies .col p {
        width: 65%;
    }

}
