/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE DEVICES PROPERTIES */

@media screen and (max-width: 600px) {

    .home-hero .call-to-action {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }

    .home-hero {
        background: #80b3de;
        background-size: cover;
        height:80%;
        width:100%;
    }

    .home-hero h1 {
        padding-top: 65px;
    }

    .home-hero h2 {
        margin: 0 auto;
        width: 80%;
    }

}

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* TABLET DEVICES PROPERTIES */

@media screen and (min-width: 601px) and (max-width: 992px) {


}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* MOBILE AND TABLET DEVICES PROPERTIES */

@media screen and (max-width: 992px) {

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* DESKTOP PROPERTIES */

@media screen and (min-width: 993px) {

}


/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/

/* SPECIFIC PROPERTIES */

/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/


/* NAVBAR RESPONSIVE */
@media screen and (max-width: 1200px) {

    nav .conception {
        display: none;
    }

}
