.websites-hero {
    position: relative;
    background: url(../img/hero01.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    width:100%;
    height:650px;
    text-align: center;
}

.websites-hero > section {
    text-align: center;
    padding-top: 160px;
}

.websites-hero > section > img {
    width: 50px;
}

.websites-hero > h1 {
    margin-top: 0;
    padding-top: 40px;
    font-size: 38px;
    letter-spacing: 6px;
    word-spacing: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.websites-hero > .separator {
    width: 60%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.17);
}

.websites-hero > h2 {
    padding-top: 10px;
    font-size: 14px;
    font-family: ProximaRegular, serif;
    color: #80b5df;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.websites-hero > h3 {
    font-size: 14px;
    font-family: ProximaRegular, serif;
    color: rgba(255, 255, 255, 0.64);
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 10px;
}

.websites-hero > h3 > i {
    font-size: 12px;
    color: #80b5df;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

.websites-services {
    border-top: 10px solid #d2d2d2;
    border-bottom: 10px solid #d2d2d2;
    text-align: center;
}

.websites-services > .container {
    padding-top: 100px;
    padding-bottom: 115px;
}

.websites-services > .container > .services {
    margin-bottom: 0;
    margin-top: 50px;
}

.websites-services > .container > img {
    width: 110px;
    margin-bottom: -45px;
}

.websites-services .block-title {
    position: relative;
}

.websites-services .block-title h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: ProximaThin, serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 75px;
    background: #484848;
    color: #fff;
    z-index: 1;
}

.websites-services .block-title .custom-line {
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: -4px;
    border: 2px solid #80b5df;
}

.websites-services .intro {
    color: #848484;
    background: #f5f5f5;
    font-size: 14px;
    font-family: SourceSansProRegular, serif;
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    margin-top: -1px;
    border: 1px solid #dcdcdc;
}

.websites-services .intro p {
    width: 85%;
    margin: 0 auto;
}

.websites-services .col {
    padding: 30px 0;
    cursor: pointer;
}

.websites-services .col:hover {
    background: rgba(128, 181, 223, 0.12);
    border-radius: 6px;
}

.websites-services .services .col i {
    font-size: 35px;
    color: #80b5df;
}

.websites-services .services .col h1 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    color: #000;
    font-family: ProximaBold, serif;
    text-transform: uppercase;
}

.websites-services .services .col p {
    width: 65%;
    margin: 0 auto;
    font-size: 14px;
    font-family: SourceSansProRegular, serif;
    color: #848484;
}


/* ---------------------------------------------- */
/* ---------------------------------------------- */

.websites-tabs {
    border-bottom: 10px solid #d2d2d2;
}

.websites-tabs > .container-fluid > .row {
    margin-bottom: 0;
}

.websites-tabs > .container-fluid > .row > .col {
    padding: 0;
}

.websites-tabs .tabs {
    height: 110px;
    line-height: inherit;
    background: #484848;
}

.websites-tabs .tabs li {
    height: 110px;
    line-height: inherit;
}

.websites-tabs .tabs .tab a:not(.active):hover {
    background-color: #636363;
}

.websites-tabs .tabs .tab a.active {
    background-image: url(../img/BG/BG01.png);
    background-position-y: bottom;
}

.websites-tabs .tabs .tab a.active h1 {
    color: #484848;
}

.websites-tabs .tabs .indicator {
    background-color: #80b5df;
}

.websites-tabs .tabs h1 {
    font-size: 12px;
    font-family: ProximaRegular, serif;
    letter-spacing: 2px;
    line-height: normal;
    color: #fff;
    margin: inherit;
    margin-top: 10px;
}

.websites-tabs .tabs i {
    font-size: 20px;
    color: #80b5df;
    margin-top: 32px;
}

.websites-tabs .tab-content {
    background: url(../img/BG/BG01.png);
    font-family: SourceSansProRegular, serif;
    text-align: center;
}

.websites-tabs .tab-content > .container {
    padding-top: 70px;
    padding-bottom: 60px;
    width: 80%;
    margin: 0 auto;
}

.websites-tabs .tab-content > .container > .row {
    margin-bottom: 0;
}

.websites-tabs .tab-content .cover-picture {
    width: 100%;
}

.websites-tabs .tab-content .border-picture {
    border: 3px solid #d4d4d4;
}

.websites-tabs .tab-content h1 {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: ProximaRegular, serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    padding: 20px 45px;
    background: #fff;
    color: #484848;
    border: 2px solid #484848;
    margin-bottom: 30px;
}

.websites-tabs .tab-content p {
    text-align: justify;
    font-size: 14px;
    color: #7b7b7b;
    padding: 35px 50px;
    margin: 0;
    background: white;
    border: 1px solid #d0d0d0;
    border-left: 4px solid #b3b3b3;
}

.websites-tabs .tab-content p a {
    color: #80b5df;
}

.websites-tabs .tab-content p i {
    font-size: 12px;
    margin-right: 4px;
    color: #80b5df;
}

.websites-tabs .tab-content img {
    margin-bottom: 30px;
}

.websites-tabs .tab-content ul {
    margin-top: 0;
    padding: 35px 50px;
    background: #fff;
    border: 1px solid #d0d0d0;
    text-align: left;
}

.websites-tabs .tab-content ul h2 {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-align: center;
    background: #484848;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-family: ProximaRegular, serif;
    text-transform: uppercase;
}

.websites-tabs .tab-content li {
    font-size: 15px;
}

.websites-tabs .tab-content li:not(:last-of-type) {
    margin-bottom: 8px;
}

.websites-tabs .tab-content li i {
    color: #80b5df;
    margin-right: 14px;
}

.websites-tabs .tab-content .adaptability {
    margin-top: 10px;
    margin-bottom: 30px;
}

.websites-tabs .tab-content .adaptability img {
    width: 450px;
    margin: 0 auto;
}

.websites-tabs .tab-content .adaptability p {
    padding-top: 20px;
    padding-bottom: 5px;
}

.websites-tabs .tab-content .adaptability .browsers {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.websites-tabs .tab-content .adaptability .browsers img {
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.websites-tabs .tab-content .logo-company {
    width: 250px;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 20px;
    display: block;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

.websites-realisations {
    background: #eaeaea;
    text-align: center;
}

.websites-realisations > .container {
    padding-top: 100px;
    padding-bottom: 70px;
    width:75%;
}

.websites-realisations .block-title {
    position: relative;
}

.websites-realisations .block-title h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: ProximaRegular, serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: -2px;
    padding: 15px 60px;
    border: 2px solid #484848;
    color: #484848;
}

.websites-realisations .block-title .custom-line {
    position: relative;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #484848;
}

.websites-realisations .realisations {
    padding-top: 70px;
}

.websites-realisations .realisations section {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.websites-realisations .realisations img {
    width: 100%;
    border: 5px solid #dadada;
}

.websites-realisations > .container > .realisations > .col {
    margin-bottom: 20px;
    position: relative;
}

.websites-realisations > .container > .realisations > .col:hover .mask {
    opacity: 1;
    background: rgba(50, 50, 50, 0.98);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.websites-realisations .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.websites-realisations .mask .mask-container {
    display: table;
    width: 100%;
    height: 100%;
}

.websites-realisations .mask .mask-content {
    display: table-cell;
    vertical-align: middle;
}

.websites-realisations .mask .mask-content h1 {
    color: #fff;
    font-size: 20px;
    font-family: ProximaBold, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.websites-realisations .mask .mask-content p {
    color: #80b5df;
    font-size: 14px;
    font-family: SourceSansProRegular, serif;
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.websites-realisations .mask .mask-content a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background: #80b5df;
    font-size: 14px;
    font-family: ProximaBold, serif;
    letter-spacing: 4px;
    border-radius: 50px;
    margin-top: 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.websites-realisations .mask .mask-content a:hover {
    background: #6995b9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

.websites-casestudy {
    background: #fff;
    border-top: 10px solid #dadada;
    border-bottom: 10px solid #dadada;
    text-align: center;
    margin-bottom: 400px;
}

.websites-casestudy > .container {
    padding-top: 60px;
    padding-bottom: 80px;
    width:80%;
}

.websites-casestudy > .container > h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: ProximaRegular, serif;
    font-size: 14px;
    color: #484848;
    margin-bottom: 20px;
}

.websites-casestudy > .container > h2 {
    background: #484848;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: ProximaThin, serif;
    font-size: 14px;
    display: inline-block;
    margin: 0 auto;
    padding: 18px 60px;
    padding-top: 22px;
    border: 2px solid #484848;
    color: #fff;
    line-height: 17px;
}

.websites-casestudy .intro {
    margin-top: 40px;
}

.websites-casestudy .intro .cover-picture {
    background: url(../img/bbluxe/team.png);
    background-size: cover;
    background-position: center;
    height: 530px;
    border: 4px solid #dadada;
}

.websites-casestudy .intro .details {
    text-align: left;
}

.websites-casestudy .intro .details p {
    border: 2px solid #dadada;
    margin: 0;
    color: #848484;
    padding: 25px;
    font-size: 14px;
    text-align: justify;
    font-family: SourceSansProRegular, serif;
}

.websites-casestudy .intro .details ul {
    background: #f5f5f5;
    margin-top: 15px;
    border-left: 5px solid #80b5df;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.websites-casestudy .intro .details ul li {
    font-family: SourceSansProRegular, serif;
    margin-top: 15px;
    margin-left: 20px;
    color: #484848;
}

.websites-casestudy .intro .details ul li:first-of-type {
    margin-top: 0;
}

.websites-casestudy .intro .details ul li span:first-of-type {
    font-family: ProximaBold, sans-serif;
    color: #484848;
    display: inline-block;
    width: 130px;
}

.websites-casestudy .intro .details ul li span:first-of-type i {
    margin-right: 10px;
}

.websites-casestudy .intro .details ul li span:last-of-type {
    margin-left: 12px;
    text-align: left;
}

.websites-casestudy .intro .button-site {
    background: #80b5df;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
}

.websites-casestudy .intro .button-site i {
    margin-right: 4px;
}

.websites-casestudy .step {
    margin-top: 50px;
    font-family: SourceSansProRegular, serif;
}

.websites-casestudy .step .container {
    width: 75%;
}

.websites-casestudy .step > h1 {
    text-align: left;
    font-family: ProximaBold, serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #484848;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 35px;
}

.websites-casestudy .step > h1 > i:first-of-type {
    color: #80b5df;
    margin-right: 5px;
}

.websites-casestudy .step > h1 > i:last-of-type {
    color: #d6d6d6;
    font-size: 6px;
    margin-left: 0;
}

.websites-casestudy .step > .container > section {
    background: #fbfbfb;
    padding: 30px 50px;
    border: solid 1px #d8d8d8;
    border-top: solid 2px rgba(128, 181, 223, 0.60);
}

.websites-casestudy .step h2 {
    text-align: left;
    font-family: SourceSansProRegular, serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #8a8a8a;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.websites-casestudy .step h2:not(:first-of-type) {
    margin-top: 50px;
}

.websites-casestudy .step h2:first-of-type {
    margin-top: 45px;
}

.websites-casestudy .step h2 > i {
    color: #80b5df;
    margin-right: 10px;
    font-size: 16px;
}

.websites-casestudy .step p {
    font-size: 14px;
    color: #484848;
    text-align: justify;
}

.websites-casestudy .step ul {
    text-align: left;
    margin-left: 30px;
    font-family: SourceSansProRegular, serif;
    font-size: 14px;
    color: #484848;
}

.websites-casestudy .step ul li {
    margin-bottom: 6px;
}

.websites-casestudy .step ul li i {
    font-size: 10px;
    margin-right: 8px;
    color: #80b5df;
}

.websites-casestudy .step ul li a {
    color: #80b5df;
    font-family: ProximaRegular, serif;
    text-transform: uppercase;
    margin-right: 3px;
}

.websites-casestudy .colors {
    padding-top: 10px;
    margin-bottom: 20px;
}

.websites-casestudy .colors .color {
    margin-bottom: 10px;
    position: relative;
}

.websites-casestudy .colors .color div {
    width: 50px;
    height: 50px;
}

.websites-casestudy .colors .color > span {
    position: absolute;
    left: 70px;
    top: 5px;
    color: #484848;
    font-size: 14px;
    text-align: left;
}

.websites-casestudy .logowork {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 40px;
}

.websites-casestudy .logowork img {
    width: 350px;
}

.websites-casestudy .logowork .panel {
    float: left;
}

.websites-casestudy .logowork .finished {
    width: 235px;
    margin-top: 20px;
    margin-left: 50px;
}