==

<div class="contact-form">

    <form class="flexiContactForm" role="form"
          data-request="contactForm::onMailSent"
          data-request-update="confirm_{{activeLocale}}: '.confirm-container'"
          data-request-success="$('.page-contact').slideUp(700)">

        <h1>
            {% if activeLocale == 'fr' %} Laissez-moi un message
            {% else %} Contact me {% endif %}
        </h1>

        <div class="form-groups">

            <div class="input-field">
                <input id="contact-name" type="text" name="name" required>
                <label for="contact-name">
                    <i class="far fa-user"></i>
                    {% if activeLocale == 'fr' %} Nom
                    {% else %} Name {% endif %}
                </label>
            </div>

            <div class="input-field">
                <input id="contact-email" type="email" name="email" required>
                <label for="contact-email"><i class="far fa-envelope"></i>Email</label>
            </div>

            <div class="input-field">
                <input id="contact-subject" type="text" name="subject" required>
                <label for="contact-subject">
                    <i class="far fa-bookmark"></i>
                    {% if activeLocale == 'fr' %} Objet
                    {% else %} Subject {% endif %}
                </label>
            </div>

            <div class="input-field">
                <textarea id="contact-body" name="body" class="materialize-textarea" required></textarea>
                <label for="contact-body"><i class="far fa-file-alt"></i>Message</label>
            </div>

            <div class="g-recaptcha" data-sitekey="6LdUDzEUAAAAAG65sIfDJ25mER_wojNR3EkVVPVI"></div>

            <button type="submit">
                {% if activeLocale == 'fr' %} Envoyer
                {% else %} Send {% endif %}
            </button>
        </div>
    </form>

</div>

