<footer class="page-footer">
    <div class="container">
        <div class="row">

            <div class="col l4 m12 s12">
                <h5>
                    {% if activeLocale == 'fr' %} Mon profil
                    {% else %} My Profile {% endif %}
                </h5>
                <p>
                    {% if activeLocale == 'fr' %}
                        Diplômé de l'École Internationale des Sciences du Traitement de l'Information,
                        j'utilise mon expertise Front-End acquise au cours de mes expériences en
                        France, aux États-Unis et au Canada pour développer et optimiser des applications web.
                    {% else %}
                        I graduated from EISTI, the International Engineering School of Computer Science.
                        I use the Front-End expertise acquired during my work experiences in France,
                        United States and Canada to develop and optimize web applications.
                    {% endif %}
                </p>
            </div>

            <div class="col l4 offset-l1 m12 s12">
                <div class="social">
                    <h5>
                        {% if activeLocale == 'fr' %} Réseaux
                        {% else %} Social {% endif %}
                    </h5>
                    <div class="row">
                        <div class="col l4 m4 s4"><a href="https://www.linkedin.com/in/pierre-baptiste-bouillon-2093b8a4/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
                        <div class="col l4 m4 s4"><a href="https://www.instagram.com/pierrebaptistebouillon" target="_blank"><i class="fab fa-instagram"></i></a></div>
                        <div class="col l4 m4 s4"><a href="https://twitter.com/Salty_PB" target="_blank"><i class="fab fa-twitter"></i></a></div>
                        <div class="col l4 m4 s4"><a href="https://github.com/bouillonpi" target="_blank"><i class="fab fa-github"></i></a></div>
                        <div class="col l4 m4 s4"><a href="mailto:pierrebaptistebouillon@gmail.com" target="_top"><i class="far fa-envelope"></i></a></div>
                        <div class="col l4 m4 s4"><a href="tel:7813928953"><i class="fa fa-phone"></i></a></div>
                    </div>
                </div>
            </div>

            <div class="col l2 offset-l1 m12 s12">
                <div class="links">
                    <h5>Pages</h5>
                    <ul>
                        <li><a href="{{ 'home'|page }}"><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Profil {% else %} Profile {% endif %} </a></li>
                        <li><a href="{{ 'websites'|page }}"><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Sites web {% else %} Websites {% endif %}</a></li>
                        <li><a href="{{ 'about'|page }}"><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} À propos {% else %} About {% endif %}</a></li>
                        <li><a href="#contact-modal"><i class="fa fa-circle"></i> Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ "now"|date('Y')}} Pierre-Baptiste BOUILLON
        </div>
    </div>
</footer>