<nav>
    <div class="nav-wrapper">

        <!-- LOGO CENTERED -->
        <a href="{{ 'home'|page }}" class="brand-logo center"><img src="{{ 'assets/img/Valknut.svg'|theme }}"></a>

        <!-- HAMBURGER -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>

        <!-- NAV LINKS DESKTOP -->
        <ul class="left hide-on-med-and-down">
            <li {% if this.page.id == 'home' %}class="active"{% endif %}>
                <a href="{{ 'home'|page }}">
                    {% if activeLocale == 'fr' %} Profil
                    {% else %} Profile {% endif %}
                </a>
            </li>
            <li {% if this.page.id == 'websites' %}class="active"{% endif %}>
                <a href="{{ 'websites'|page }}">
                    {% if activeLocale == 'fr' %} <span class="conception">Conception</span> Sites web
                    {% else %} Website Design {% endif %}
                </a>
            </li>
            <li {% if this.page.id == 'about' %}class="active"{% endif %}>
                <a href="{{ 'about'|page }}">
                    {% if activeLocale == 'fr' %} À propos
                    {% else %} About {% endif %}
                </a>
            </li>
        </ul>

        <!-- LOCALE PICKER AND CONTACT BUTTON -->
        <ul class="right hide-on-med-and-down">

            <li class="language-picker">
                <section>
                    {% if activeLocale == 'fr' %}
                        <img class="locale-dropdown-trigger" src="{{ 'assets/img/flags/FR.png'|theme }}">
                        <div class="locale-dropdown">
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">
                                <img src="{{ 'assets/img/flags/US.png'|theme }}">
                            </a>
                        </div>
                    {% endif %}
                    {% if activeLocale == 'en' %}
                        <img class="locale-dropdown-trigger" src="{{ 'assets/img/flags/US.png'|theme }}">
                        <div class="locale-dropdown">
                            <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'">
                                <img src="{{ 'assets/img/flags/FR.png'|theme }}">
                            </a>
                        </div>
                    {% endif %}
                </section>
            </li>

            <li class="contact-button"><a href="#contact-modal">Contact</a></li>

        </ul>

        <!-- SIDE-NAV -->
        <ul class="side-nav" id="mobile-demo">

            <li class="language-picker">
                <section>
                    {% if activeLocale == 'fr' %}
                    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img src="{{ 'assets/img/flags/FR.png'|theme }}"></a>
                    {% endif %}
                    {% if activeLocale == 'en' %}
                    <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'"><img src="{{ 'assets/img/flags/US.png'|theme }}"></a>
                    {% endif %}
                </section>
            </li>

            <li {% if this.page.id == 'home' %}class="active"{% endif %}>
                <a href="{{ 'home'|page }}">
                    {% if activeLocale == 'fr' %} Profil
                    {% else %} Profile {% endif %}
                </a>
            </li>
            <li {% if this.page.id == 'websites' %}class="active"{% endif %}>
                <a href="{{ 'websites'|page }}">
                    {% if activeLocale == 'fr' %} <span class="conception">Conception</span> Sites web
                    {% else %} Website Design {% endif %}
                </a>
            </li>
            <li {% if this.page.id == 'about' %}class="active"{% endif %}>
                <a href="{{ 'about'|page }}">
                    {% if activeLocale == 'fr' %} À propos
                    {% else %} About {% endif %}
                </a>
            </li>

            <li class="contact-button"><a href="#contact-modal">Contact</a></li>
        </ul>
    </div>
</nav>

<div id="contact-modal" class="modal">
    <div class="modal-content">
        <div class="row">

            <h1>Contact</h1>

            <div class="col l6 m12 s12">
                <div class="contact-info">
                    <i class="fa fa-phone"></i>
                    <h2>
                        {% if activeLocale == 'fr' %} Téléphone
                        {% else %} Mobile {% endif %}
                    </h2>
                    <h3><img src="{{ 'assets/img/flags/CA.png'|theme }}">+1 (438)-404-0339</h3>
                </div>
            </div>

            <div class="col l6 m12 s12">
                <div class="contact-info">
                    <i class="fa fa-envelope"></i>
                    <h2>Email</h2>
                    <h3>pierrebaptistebouillon@gmail.com</h3>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-action modal-close"><i class="fa fa-times"></i></div>
</div>


