<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center"><img src="{{ 'assets/img/Valknut.svg'|theme }}"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="">Profil</a></li>
            <li><a href=""><span class="conception">Conception</span> Sites web</a></li>
            <li><a href="">À propos</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="contact-button"><span>Contact</span></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="">Profil</a></li>
            <li><a href="">Sites web</a></li>
            <li><a href="">À propos</a></li>
            <li><a class="contact-button"><span>Contact</span></a></li>
        </ul>
    </div>
</nav>