<div class="sidenav">
    <ul>

        <li>
            <a href="#home-intro">
                <i class="fa fa-key"></i>
                <span>
                    Key Info
                </span>
            </a>
        </li>

        <li>
            <a href="#home-education">
                <i class="fa fa-graduation-cap"></i>
                <span>
                    Education
                </span>
            </a>
        </li>

        <li>
            <a href="#home-timeline">
                <i class="fa fa-briefcase"></i>
                <span>
                    Experience
                </span>
            </a>
        </li>

        <li>
            <a href="#home-award">
                <i class="fa fa-trophy"></i>
                <span>
                    Awards
                </span>
            </a>
        </li>

        <li>
            <a href="#home-technology">
                <i class="fa fa-wrench"></i>
                <span>
                    Skills
                </span>
            </a>
        </li>

        <li>
            <a href="#home-international">
                <i class="fa fa-globe"></i>
                <span>
                    Languages
                </span>
            </a>
        </li>

    </ul>
</div>