<div class="sidenav">
    <ul>

        <li>
            <a href="#home-intro">
                <i class="fa fa-key"></i>
                <span>
                    {% if activeLocale == 'fr' %} Info Clé
                    {% else %} Key Info {% endif %}
                </span>
            </a>
        </li>

        <li>
            <a href="#home-education">
                <i class="fa fa-graduation-cap"></i>
                <span>
                    {% if activeLocale == 'fr' %} Diplôme
                    {% else %} Education {% endif %}
                </span>
            </a>
        </li>

        <li>
            <a href="#home-timeline">
                <i class="fa fa-briefcase"></i>
                <span>
                    {% if activeLocale == 'fr' %} Expérience
                    {% else %} Experience {% endif %}
                </span>
            </a>
        </li>

        <li>
            <a href="#home-award">
                <i class="fa fa-trophy"></i>
                <span>
                    {% if activeLocale == 'fr' %} Concours
                    {% else %} Awards {% endif %}
                </span>
            </a>
        </li>

        <li>
            <a href="#home-technology">
                <i class="fa fa-wrench"></i>
                <span>
                    Skills
                </span>
            </a>
        </li>

        <li>
            <a href="#home-international">
                <i class="fa fa-globe"></i>
                <span>
                    {% if activeLocale == 'fr' %} Langues
                    {% else %} Languages {% endif %}
                </span>
            </a>
        </li>

    </ul>
</div>