==

<div id="sidenav" class="side-nav fixed">

    <div class="userView">
        <a href="{{ 'home'|page }}">
            <div class="circle">
                <div class="circle-cover"><img src="{{ 'assets/img/cameleon.png' |theme }}"></div>
                <img src="{{ 'assets/img/PB.jpg'|theme }}">
            </div>
        </a>
        <h1 class="name">Pierre-Baptiste BOUILLON</h1>
        <h2 class="role">Software Engineer</h2>
    </div>

    <div class="container">
        <ul class="sidenav-items">
            <li><a href="{{ 'home'|page }}" {% if this.page.id == 'home' %}class="active"{% endif %}><i class="fa fa-home"></i>Home</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-graduation-cap"></i>Education</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-briefcase"></i>Work experience</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-globe"></i>Website design</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-wrench"></i>Special skills</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-trophy"></i>Awards</a></li>
            <li><a href="{{ 'home'|page }}"><i class="fa fa-star"></i>Personal interests</a></li>
        </ul>
    </div>

    <div class="container social-items">
        <div class="row" style="text-align: center">
            <div class="col l3"><a href=""><i class="fa fa-envelope"></i></a></div>
            <div class="col l3"><a href=""><i class="fa fa-linkedin"></i></a></div>
            <div class="col l3"><a href=""><i class="fa fa-facebook-square"></i></a></div>
            <div class="col l3"><a href=""><i class="fa fa-twitter"></i></a></div>
        </div>
    </div>
</div>
<a href="#" data-activates="sidenav" class="button-collapse"><i class="material-icons"></i></a>