[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pierre-Baptiste</title>

    <link rel="icon" type="image/x-icon" href="{{ 'assets/img/favicons/favicon-16x16.ico'|theme }}">

    <link rel="stylesheet" href="{{ [
            'assets/vendor/materialize/css/materialize.min.css',
            'assets/vendor/lightbox/css/lightbox.css',
            'assets/vendor/timeline/style.css',
            'assets/css/fonts.css',
            'assets/css/navbar.css',
            'assets/css/sidenav.css',
            'assets/css/footer.css',
            'assets/css/home.css',
            'assets/css/about.css',
            'assets/css/websites.css',
            'assets/css/app.css',
            'assets/css/responsive.css',
            'assets/css/map.css',
            'assets/css/contact.css'
        ]|theme }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    {% partial "navbar" %}

    {% page %}

    {% partial "footer" %}

    <script src="{{ [
                    'assets/vendor/jquery/jquery-3.1.1.min.js',
                    'assets/vendor/jquery/jquery-ui.min.js',
                    'assets/vendor/jquery-scroll/jquery.scrollTo.min.js',
                    'assets/vendor/materialize/js/materialize.min.js',
                    'assets/vendor/lightbox/js/lightbox.js',
                    'assets/vendor/typewriter/typewriter.js',
                    'assets/script/app.js'
                ]|theme }}">
    </script>

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{activeLocale}}" async defer></script>

    {% framework %}

</body>
</html>