[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0

[googleTracker]

[localePicker]
forceUrl = 0
==
<!DOCTYPE html>
<html lang="fr">
<head>

    <title>Pierre-Baptiste</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="J'aborde chaque projet de boutique en ligne avec passion et détermination, du développement à la maintenance. 
    En tant que Shopify Partner, j'introduis les entreprises aux merveilles de Shopify dans le but de booster leurs ventes en ligne.">
    <meta name="keywords" content="Ecommerce, Shopify, Online store, Pierre-Baptiste Bouillon, IT, Design, Websites, CV, Resume, Software Engineer, ">
    <meta name="author" content="Pierre-Baptiste Bouillon">

    <meta property="og:title" content="Caméléon Design" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Création de boutiques en ligne pour booster votre business." />
    <meta property="og:image:url" content="https://www.pierrebaptistebouillon.com/themes/pb/assets/img/Banner.jpg" />

    <link rel="icon" type="image/x-icon" href="{{ 'assets/img/favicons/favicon-16x16.ico'|theme }}">

    <link rel="stylesheet" href="{{ [
            'assets/vendor/materialize/css/materialize.min.css',
            'assets/vendor/lightbox/css/lightbox.css',
            'assets/vendor/timeline/style.css',
            'assets/css/fonts.css',
            'assets/css/navbar.css',
            'assets/css/backtotop.css',
            'assets/css/sidenav.css',
            'assets/css/footer.css',
            'assets/css/profile.css',
            'assets/css/about.css',
            'assets/css/services.css',
            'assets/css/app.css',
            'assets/css/responsive.css',
            'assets/css/map.css',
            'assets/css/contact.css'
        ]|theme }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

</head>

<body>

    {% partial "navbar" %}

    {% partial "backtotop" %}

    {% page %}
    {% component 'googleTracker' %}

    {% partial "footer" %}

    <script src="{{ [
                    'assets/vendor/jquery/jquery-3.1.1.min.js',
                    'assets/vendor/jquery/jquery-ui.min.js',
                    'assets/vendor/jquery-scroll/jquery.scrollTo.min.js',
                    'assets/vendor/materialize/js/materialize.min.js',
                    'assets/vendor/lightbox/js/lightbox.js',
                    'assets/vendor/typewriter/typewriter.js',
                    'assets/script/app.js'
                ]|theme }}">
    </script>

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl={{activeLocale}}" async defer></script>

    {% framework %}

</body>
</html>