title = "home"
url = "/"
layout = "standard"
is_hidden = 0
==
{% partial "sidenav" %}

<script>
    var latitude = 42.360082;
    var longitude = -71.058880;
    var zoom = 12;
</script>

<script src="{{ 'assets/script/map.js' |theme }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtKaSUKqH_s5JnJZ8ZqwnRuHb4nAECxx8&callback=initMap" async defer></script>

<!------------------------------------------------>

<div id="home-hero" class="home-hero scrollspy">
    <div class="hero-content">
        <h1>Pierre-Baptiste <br class="hide-on-large-only"> Bouillon</h1>
        <h2>
            {% if activeLocale == 'fr' %} Ingénieur logiciel bilingue diplômé de l'EISTI
            {% else %} Software Engineer graduated from EISTI, bilingual French/English {% endif %}
            <br class="hide-on-small-and-down">
            {% if activeLocale == 'fr' %} Disponible dès Janvier 2018 pour premier emploi
            {% else %} Available for first opportunity in January 2018 {% endif %}
        </h2>
        <div class="call-to-action">
            <div class="row">
                <div class="col l6 m6 s12">
                    <div id="home-scroll" class="button-profil">
                        {% if activeLocale == 'fr' %} Voir profil
                        {% else %} Profile {% endif %}
                    </div>
                </div>
                <div class="col l6 m6 s12">
                    {% if activeLocale == 'fr' %}
                    <a href="{{ 'assets/doc/resume/CV-BOUILLON-FRENCH.pdf'| theme }}" download><div class="button-cv"><i class="fa fa-download"></i>Download CV</div></a>
                    {% else %}
                    <a href="{{ 'assets/doc/resume/CV-BOUILLON-ENGLISH.pdf'| theme }}" download><div class="button-cv"><i class="fa fa-download"></i>Download CV</div></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------>

<div id="home-intro" class="home-intro scrollspy">

    <div class="container">

        <img src="{{ 'assets/img/PB/PB01.jpg'| theme }}">

        <div class="block-title">
            <h1>
                {% if activeLocale == 'fr' %} Information Clé
                {% else %} Key Information {% endif %}
            </h1>
            <div class="custom-line hide-on-small-and-down"></div>
        </div>

        <div class="key-info row">

            <div class="col l4 m6 s6">
                <i class="fa fa-graduation-cap"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Ingénieur
                    {% else %} Engineer {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Diplôme d'ingénieur logiciel EISTI spécialité Cloud Computing
                    {% else %} Cloud Computing Software Engineer graduated from EISTI, France {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s6">
                <i class="fa fa-cubes"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Stages
                    {% else %} Internships {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Trois stages développement web full stack dont deux aux États-Unis
                    {% else %} Three full-stack web development internships, two of which in the USA {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s6">
                <i class="fa fa-briefcase"></i>
                <h1>Entrepreneur</h1>
                <p>
                    {% if activeLocale == 'fr' %} Fondateur d'une entreprise de création de sites internet innovants
                    {% else %} Founder of a web development and webdesign innovative company {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s6">
                <i class="fa fa-windows"></i>
                <h1>Microsoft</h1>
                <p>
                    {% if activeLocale == 'fr' %} Lauréat 2015 du Concours Microsoft de présentation professionnelle
                    {% else %} Winner of the Microsoft professional presentation contest 2015 {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s6">
                <i class="fa fa-globe"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Bilingue
                    {% else %} Bilingual {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Bilingue Français/Anglais - 12 mois de stage aux États-Unis
                    {% else %} Bilingual French/English - 12 months of internship in Boston, United States {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s6">
                <i class="fa fa-shield"></i>
                <h1>Expertise</h1>
                <p>AngularJS | Angular 4 | Java | Scala | UI/UX | HTML/CSS/JS</p>
            </div>

        </div>
    </div>
</div>

<!------------------------------------------------>

<div id="home-education" class="home-education container-fluid scrollspy">
    <div class="container" style="width: 75%">
        <div class="row">

            <div class="col l6 m12 s12 cover-picture hide-on-med-and-down"></div>

            <div class="col l6 m12 s12">
                <div class="content-container">
                    <h1>
                        {% if activeLocale == 'fr' %} Diplôme d'ingénieur logiciel
                        {% else %} Software Engineering Degree {% endif %}
                    </h1>
                    <h2><i class="fa fa-map-marker"></i>
                        {% if activeLocale == 'fr' %} EISTI - École Internationale des Sciences du Traitement de l'Information
                        {% else %} EISTI - International Engineering School of Computer Science {% endif %}
                    </h2>
                    <h2><i class="fa fa-star"></i>
                        {% if activeLocale == 'fr' %} Classée N°1 des écoles d'ingénieurs en informatique 2017 -
                        {% else %} Ranked N°1 IT Engineering School 2017 in France - {% endif %}
                        <a href="https://issuu.com/eisti-ecoledingenieursmathsinfo/docs/classements-eisti-l-etudiant-smbg20" target="_blank">Source</a>
                    </h2>
                    <ul class="cursus">
                        <li><span>2016 - 2017</span> {% if activeLocale == 'fr' %} Ingénierie du Cloud Computing {% else %} Cloud Computing Engineering {% endif %}</li>
                        <li><span>2015 - 2016</span> {% if activeLocale == 'fr' %} Génie des Systèmes d'Information {% else %} Software Engineering {% endif %}</li>
                        <li><span>2014 - 2015</span> {% if activeLocale == 'fr' %} Génie Informatique {% else %} Information Technology Engineering {% endif %}</li>
                        <li><span>2012 - 2014</span> {% if activeLocale == 'fr' %} Prépa Intégrée MP à l'EISTI {% else %} Computer Science & core course {% endif %}</li>
                    </ul>

                    <a href="{{ 'assets/doc/recommandation/LOR-EISTI.pdf'| theme }}" target="_blank" class="call-to-action">
                        <i class="fa fa-envelope-o"></i>
                        {% if activeLocale == 'fr' %} Lettre de recommandation de la directrice {% else %} Letter of recommandation from the director {% endif %}
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>

<!------------------------------------------------>

<div id="home-timeline" class="home-timeline container-fluid scrollspy">

    <div class="block-title">
        <h1>
            {% if activeLocale == 'fr' %} Expérience Professionnelle
            {% else %} Experience Timeline {% endif %}
        </h1>
    </div>

    <section id="cd-timeline">

        <!-- OBERTHUR 2017 -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img"><img src="{{ 'assets/img/flags/US.png'| theme }}"></div>
            <div class="cd-timeline-content">

                <div class="row experience-title">
                    <div class="col l2 s12 logo-company"><img src="{{ 'assets/img/logos/IDEMIA.png'| theme }}"></div>
                    <div class="col l10 s12">
                        <h2>
                            {% if activeLocale == 'fr' %} Stage Architecte Frontend
                            {% else %} Front End Architect Internship {% endif %}
                        </h2>
                    </div>
                </div>

                <h3><i class="fa fa-map-marker"></i> IDEMIA | <a href="http://www.idemia.com/" target="_blank">www.idemia.com</a></h3>
                <h3><i class="fa fa-clock-o"></i>
                    {% if activeLocale == 'fr' %} Mai 2017 - Octobre 2017 | 6 mois
                    {% else %} May 2017 - October 2017 | 6 months {% endif %}
                </h3>
                <h3><i class="fa fa-globe"></i>
                    {% if activeLocale == 'fr' %} Boston, États-Unis
                    {% else %} Boston, United States {% endif %}
                </h3>

                <p>
                    {% if activeLocale == 'fr' %} Refonte de l'architecture du produit principal Digital Wallet de l'entreprise en vue d'une migration AngularJS vers Angular 4.0. Cette migration vise à affiner les performances du produit en utilisant les dernières technologies en date.
                    {% else %} Architecture redesign of Digital Wallet core product to migrate the AngularJS app to Angular 4.0. This migration aims to enhance application performance by using by using the latest technologies. {% endif %}
                </p>

                <ul class="tasks-list">
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Factorisation de l'application en composants {% else %} Componentized the application {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Refonte et optimisation des services backend {% else %} Redesigned and improved backend services {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Développement Full-Stack {% else %} Full-stack web development {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Équipe internationale : Inde | Pologne | États-Unis {% else %} International team: India | Poland | United States {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Gestion du projet et supervision d'un nouveau stagiaire {% else %} Managed project and oversaw the work of a new intern {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Maîtrise des méthodes Agiles et Scrum {% else %} Mastered Agile approach and Scrum {% endif %}</li>
                </ul>

                <ul class="chips-list">
                    <li class="chip">AngularJS</li>
                    <li class="chip">Angular 4.0</li>
                    <li class="chip">REST</li>
                    <li class="chip">Java</li>
                    <li class="chip">Oracle</li>
                    <li class="chip">jBoss</li>
                    <li class="chip">Tomcat</li>
                    <li class="chip">JIRA</li>
                    <li class="chip">Confluence</li>
                    <li class="chip">Bitbucket</li>
                </ul>

                <div class="actions">
                    <a href="{{ 'assets/img/OT/WF02.jpg'| theme }}"
                       data-title="{% if activeLocale == 'fr' %} The Watch Factory - Bureaux d'IDEMIA Boston {% else %} The Watch Factory - IDEMIA's Boston office {% endif %}"
                       data-lightbox="picture-set-1"
                       class="call-to-action media">
                        <i class="fa fa-th"></i>
                        {% if activeLocale == 'fr' %} Voir photos {% else %} Pictures {% endif %}
                    </a>
                    <a href="{{ 'assets/doc/recommandation/LoR-IDEMIA.pdf'| theme }}" target="_blank" class="call-to-action">
                        <i class="fa fa-envelope-o"></i>
                        {% if activeLocale == 'fr' %} Lettre de recommandation du directeur {% else %} Letter of recommandation from the director {% endif %}
                    </a>
                </div>

                <span class="cd-date">2017</span>
            </div>
        </div>

        <!-- OBERTHUR 2016 -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img"><img src="{{ 'assets/img/flags/US.png'| theme }}"></div>
            <div class="cd-timeline-content">

                <div class="row experience-title">
                    <div class="col l2 s12 logo-company"><img src="{{ 'assets/img/logos/IDEMIA.png'| theme }}"></div>
                    <div class="col l10 s12">
                        <h2>
                            {% if activeLocale == 'fr' %} Stage web development full-stack
                            {% else %} Full-stack Web Development Internship {% endif %}
                        </h2>
                    </div>
                </div>

                <h3><i class="fa fa-map-marker"></i> IDEMIA | <a href="http://www.idemia.com/" target="_blank">www.idemia.com</a></h3>
                <h3><i class="fa fa-clock-o"></i>
                    {% if activeLocale == 'fr' %} Mai 2016 - Octobre 2016 | 6 mois
                    {% else %} May 2016 - October 2016 | 6 months {% endif %}
                </h3>
                <h3><i class="fa fa-globe"></i>
                    {% if activeLocale == 'fr' %} Boston, États-Unis
                    {% else %} Boston, United States {% endif %}
                </h3>

                <p>
                    {% if activeLocale == 'fr' %} Développement full-stack d'une plateforme Digital Wallet visant à sécuriser les opérations financières des clients de l'entreprise de télécommunications LycaMobile.
                    {% else %} Full-stack development of a Digital Wallet application to secure financial transactions of customers from the telecommunications operator LycaMobile. Bug fixing and implementation of new features through Agile approach. {% endif %}
                </p>

                <ul class="tasks-list">
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Construction de l'interface client de l'application {% else %} Designed application UI and front end {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Optimisation backend et sécurité financière {% else %} Backend services enhancement and financial security {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Développement Full-Stack {% else %} Full-stack web development {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Implémentation sécurité financière anti-fraude {% else %} Anti-fraud financial security implementation {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Équipe internationale : Inde | Pologne | États-Unis {% else %} International team: India | Poland | United States {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Utilisation des méthodes Agiles et Scrum {% else %} Used Agile approach and Scrum {% endif %}</li>
                    <li><i class="fa fa-circle"></i>{% if activeLocale == 'fr' %} Félicitations du directeur pour la résolution de 125 bugs {% else %} Congratulations of the director for fixing 125 bugs {% endif %}</li>
                </ul>

                <ul class="chips-list">
                    <li class="chip">AngularJS</li>
                    <li class="chip">{% if activeLocale == 'fr' %} Sécurité financière {% else %} Financial security {% endif %}</li>
                    <li class="chip">REST</li>
                    <li class="chip">Java</li>
                    <li class="chip">Oracle</li>
                    <li class="chip">jBoss</li>
                    <li class="chip">Tomcat</li>
                    <li class="chip">JIRA</li>
                    <li class="chip">Confluence</li>
                    <li class="chip">Bitbucket</li>
                </ul>

                <div class="actions">
                    <a href="{{ 'assets/img/OT/WF01.jpg'| theme }}"
                       data-title="{% if activeLocale == 'fr' %} Bureaux de Oberthur Technologies Boston {% else %} Oberthur Technologies Boston office {% endif %}"
                       data-lightbox="picture-set-2"
                       class="call-to-action media">
                        <i class="fa fa-th"></i>
                        {% if activeLocale == 'fr' %} Voir photos {% else %} Pictures {% endif %}
                    </a>
                    <a href="http://www.idemia.com/" target="_blank" class="call-to-action">
                        <i class="fa fa-globe"></i>
                        {% if activeLocale == 'fr' %} Site IDEMIA {% else %} IDEMIA Website {% endif %}
                    </a>
                </div>

                <a class="experience-picture"
                   href="{{ 'assets/img/NYC01.jpg'| theme }}"
                   data-title="{% if activeLocale == 'fr' %} Vue de Manhattan depuis la Statue de la Liberté {% else %} Manhattan view from the Statue of Liberty {% endif %}"
                   data-lightbox="picture-set-2">
                </a>

                <a class="experience-picture"
                   href="{{ 'assets/img/OT/NYC02.jpg'| theme }}"
                   data-title="{% if activeLocale == 'fr' %} Coucher de soleil à New York City {% else %} Sunset view at NYC {% endif %}"
                   data-lightbox="picture-set-2">
                </a>

                <a class="experience-picture"
                   href="{{ 'assets/img/OT/NYC01.jpg'| theme }}"
                   data-title="{% if activeLocale == 'fr' %} Manhattan depuis l'Empire State Building {% else %} Manhattan from the Empire State Building {% endif %}"
                   data-lightbox="picture-set-2">
                </a>

                <span class="cd-date">2016</span>
            </div>
        </div>

        <!-- CAMELEON DESIGN -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img"><img src="{{ 'assets/img/flags/FR.png'| theme }}"></div>
            <div class="cd-timeline-content">

                <div class="row experience-title">
                    <div class="col l2 s12 logo-company"><img src="{{ 'assets/img/cameleon-green.png'| theme }}"></div>
                    <div class="col l10 s12">
                        <h2>
                            {% if activeLocale == 'fr' %} Fondateur d'une entreprise de création sites internet
                            {% else %} Founder of a Web Development Company {% endif %}
                        </h2>
                    </div>
                </div>

                <h3><i class="fa fa-map-marker"></i>
                    Caméléon Design |
                    <a href="{{ 'websites'|page }}">
                        {% if activeLocale == 'fr' %} Découvrir mes travaux
                        {% else %} Check out my work {% endif %}
                    </a>
                </h3>
                <h3><i class="fa fa-clock-o"></i>
                    {% if activeLocale == 'fr' %} Juin 2015 - Aujourd'hui | {{ "now"|date('Y') - 2015 }} ans
                    {% else %} June 2015 - Today | {{ "now"|date('Y') - 2015 }} years {% endif %}
                </h3>
                <h3><i class="fa fa-globe"></i>
                    {% if activeLocale == 'fr' %} Pau & Sud-Ouest, France
                    {% else %} Southwest France {% endif %}
                </h3>

                <p>
                    {% if activeLocale == 'fr' %} Passionné d'informatique et de web design, je porte un grand intérêt pour les nouvelles technologies. En créant mon entreprise Caméléon Design, je place mes passions au service des particuliers et des entreprises dans la réalisation de sites internet. Mes réalisations s'ancrent dans la tendance du web d'aujourd'hui pour construire l'Internet de demain.
                    {% else %} Passionate about IT and webdesign, I have an acute interest in new technologies. I founded the company Caméléon Design to place my passions at the service of people and companies, designing websites. I use today's webdesign technologies to build the Internet of tomorrow. {% endif %}
                </p>

                <ul class="tasks-list">
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} 2014-2015 : Mise en place du business model avec PEPITE
                        {% else %} 2014-2015 : Set up the business model of the company {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} 2015-2017 : Réalisation et Consulting de 11 sites internet
                        {% else %} 2015-2017 : Designed and consulted 11 websites {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} 2016-2017 : Création et mise en ligne de mon portfolio
                        {% else %} 2016-2017 : Designed my portfolio {% endif %}
                    </li>
                </ul>

                <ul class="chips-list">
                    <li class="chip">AngularJS</li>
                    <li class="chip">Angular 4.0</li>
                    <li class="chip">OctoberCMS</li>
                    <li class="chip">HTML-CSS-JS</li>
                    <li class="chip">SASS</li>
                    <li class="chip">Laravel</li>
                    <li class="chip">Twig</li>
                    <li class="chip">SQL</li>
                    <li class="chip">Material Design</li>
                    <li class="chip">WordPress</li>
                    <li class="chip">jQuery</li>
                    <li class="chip">Photoshop</li>
                    <li class="chip">Illustrator</li>
                </ul>

                <div class="actions">
                    <a href="{{ 'assets/img/webdesign.jpg'| theme }}"
                       data-title="{% if activeLocale == 'fr' %} Création de sites internet au design épuré {% else %} Design of clean websites {% endif %}"
                       data-lightbox="picture-set-3"
                       class="call-to-action media">
                        <i class="fa fa-th"></i>
                        {% if activeLocale == 'fr' %} Voir photos {% else %} Pictures {% endif %}
                    </a>
                    <a href="{{ 'websites'|page }}" class="call-to-action">
                        <i class="fa fa-globe"></i>
                        {% if activeLocale == 'fr' %} Découvrir mes travaux {% else %} Ckeck out my work {% endif %}
                    </a>
                </div>

                <a class="experience-picture"
                   href="{{ 'assets/img/bbluxe/responsive.jpg'| theme }}"
                   data-title="{% if activeLocale == 'fr' %} Exemple de site réalisé pour l'entreprise Beyond Biarritz {% else %} Website designed for the company Beyond Biarritz {% endif %}"
                   data-lightbox="picture-set-3">
                </a>

                <a class="experience-picture"
                   href="{{ 'assets/img/bbluxe/businesscards.jpg'| theme }}"
                   data-title="{% if activeLocale == 'fr' %} Réalisation de cartes de visites pour Beyond Biarritz {% else %} Business cards design for Beyond Biarritz {% endif %}"
                   data-lightbox="picture-set-3">
                </a>

                <span class="cd-date">2015</span>
            </div>
        </div>

        <!-- SOPRA STERIA -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img"><img src="{{ 'assets/img/flags/FR.png'| theme }}"></div>
            <div class="cd-timeline-content">

                <div class="row experience-title">
                    <div class="col l2 s12 logo-company"><img src="{{ 'assets/img/Soprasteria.png'| theme }}"></div>
                    <div class="col l10 s12">
                        <h2>
                            {% if activeLocale == 'fr' %} Stage web development full-stack
                            {% else %} Full-stack Web Development Internship {% endif %}
                        </h2>
                    </div>
                </div>

                <h3><i class="fa fa-map-marker"></i> SopraSteria Group | <a href="https://www.soprasteria.com" target="_blank">www.soprasteria.com</a></h3>
                <h3>
                    <i class="fa fa-clock-o"></i>
                    {% if activeLocale == 'fr' %} Juin 2015 - Septembre 2015 | 4 mois
                    {% else %} June 2015 - September 2015 | 4 months {% endif %}
                </h3>
                <h3><i class="fa fa-globe"></i> Pau, France</h3>

                <p>
                    {% if activeLocale == 'fr' %} Intégré au sein d'une équipe de développement web, j'ai participé à la refonte du portail intranet de l'entreprise TIGF. Au cours de ces 4 mois, j'ai contribué à l'ensemble des étapes de la refonte décrites ci-contre.
                    {% else %} Part of a web development team, I contributed to the intranet portal redesign of the company TIGF. During this 4 months internship I worked on all stages of the redesign as detailed below. {% endif %}
                </p>

                <ul class="tasks-list">
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} Réalisation d'une maquette d'application
                        {% else %} Designed mock-up of the redesigned application {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} Réunions client avec le métier de l'entreprise TIGF
                        {% else %} Held customer meetings with TIGF company {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} Implémentation d'un prototype
                        {% else %} Implemented a prototype of the redesign {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} Développement de l'interface client
                        {% else %} Developed user interface and user experience {% endif %}
                    </li>
                    <li>
                        <i class="fa fa-circle"></i>
                        {% if activeLocale == 'fr' %} Livraison du produit fini et maintenance
                        {% else %} Delivered redesigned application and fixed production bugs {% endif %}
                    </li>
                </ul>

                <ul class="chips-list">
                    <li class="chip">AngularJS</li>
                    <li class="chip">C#</li>
                    <li class="chip">Java</li>
                    <li class="chip">Oracle</li>
                    <li class="chip">HTML-CSS-JS</li>
                    <li class="chip">SharePoint</li>
                    <li class="chip">.NET</li>
                    <li class="chip">PowerPoint</li>
                    <li class="chip">Git</li>
                    <li class="chip">LaTeX</li>
                </ul>

                <div class="actions">
                    <a href="{{ 'assets/img/OT/SS01.jpg'| theme }}"
                       data-title="{% if activeLocale == 'fr' %} Technopole Hélioparc - Bureaux de Sopra Steria Pau {% else %} Technopole Hélioparc - Sopra Steria Pau office {% endif %}"
                       data-lightbox="picture-set-4"
                       class="call-to-action media">
                        <i class="fa fa-th"></i>
                        {% if activeLocale == 'fr' %} Voir photos {% else %} Pictures {% endif %}
                    </a>
                    <a href="https://www.soprasteria.com" target="_blank" class="call-to-action">
                        <i class="fa fa-globe"></i>
                        {% if activeLocale == 'fr' %} Site SopraSteria {% else %} SopraSteria Website {% endif %}
                    </a>
                </div>

                <span class="cd-date">2015</span>
            </div>
        </div>

    </section>
</div>

<!------------------------------------------------>

<div id="home-award" class="scrollspy">
    <div class="home-picture-ipag hide-on-med-and-down"></div>
    <div class="home-award">
        <div class="container">

            <img src="{{ 'assets/img/IPB/microsoft.png'| theme }}">

            <div class="block-title">
                <h1>
                    {% if activeLocale == 'fr' %} Lauréat Concours Microsoft IPAG
                    {% else %} Microsoft Competition Winner {% endif %}
                </h1>
            </div>

            <div class="container-fluid">
                <div class="row">

                    <div class="col l7 m12 s12 cover-picture hide-on-med-and-down"></div>

                    <div class="col l5 m12 s12">
                        <div class="content-container">
                            <h2>
                                <i class="fa fa-trophy"></i>
                                {% if activeLocale == 'fr' %} Concours Microsoft IPAG PowerPoint Battle 2015
                                {% else %} Microsoft IPAG PowerPoint Battle 2015 {% endif %}
                            </h2>
                            <h2>
                                <i class="fa fa-microphone"></i>
                                {% if activeLocale == 'fr' %} Présentation professionnelle devant jury
                                {% else %} Professional PowerPoint presentation {% endif %}
                            </h2>
                            <h2>
                                <i class="fa fa-map-marker"></i>
                                {% if activeLocale == 'fr' %} Siège Microsoft France, Issy-les-Moulineaux
                                {% else %} Microsoft France Headquarters, Paris {% endif %}
                            </h2>

                            <ul class="details">
                                <li>
                                    <span>{% if activeLocale == 'fr' %} Candidats {% else %} Candidates {% endif %}</span>
                                    <span>400 participants</span>
                                </li>
                                <li>
                                    <span>Performance</span>
                                    <span>{% if activeLocale == 'fr' %} Première place {% else %} First place {% endif %}</span>
                                </li>
                                <li>
                                    <span>{% if activeLocale == 'fr' %} Prix remporté {% else %} Cash Prize {% endif %}</span>
                                    <span>8000€</span>
                                </li>
                                <li>
                                    <span>{% if activeLocale == 'fr' %} Récompense {% else %} Reward {% endif %}</span>
                                    <span>{% if activeLocale == 'fr' %} Entretien Microsoft {% else %} Microsoft Job Interview {% endif %}</span>
                                </li>
                            </ul>

                            <div class="actions">
                                <a href="{{ 'assets/img/IPB/IPB02.jpg'| theme }}"
                                   data-title="{% if activeLocale == 'fr' %} Victoire à la première manche du concours {% else %} Winner of the first round of the competition {% endif %}"
                                   data-lightbox="picture-set-award"
                                   class="call-to-action media">
                                    <i class="fa fa-th"></i>
                                    {% if activeLocale == 'fr' %} Voir photos {% else %} Pictures {% endif %}
                                </a>
                                <a href="http://www.ipagpowerpointbattle.com/edition-2015/" target="_blank" class="call-to-action">
                                    <i class="fa fa-plus"></i>
                                    {% if activeLocale == 'fr' %} En savoir plus {% else %} Learn more {% endif %}
                                </a>
                            </div>

                            <a class="experience-picture"
                               href="{{ 'assets/img/IPB/IPB01.jpg'| theme }}"
                               data-title="{% if activeLocale == 'fr' %} Victoire à la seconde et dernière manche du concours {% else %} Winner of the second and last round of the competition {% endif %}"
                               data-lightbox="picture-set-award">
                            </a>
                            <a class="experience-picture"
                               href="{{ 'assets/img/IPB/IPB03.jpg'| theme }}"
                               data-title="{% if activeLocale == 'fr' %} Présentation professionnelle devant le jury Microsoft {% else %} Professional presentation before the Microsoft jury {% endif %}"
                               data-lightbox="picture-set-award">
                            </a>
                            <a class="experience-picture"
                               href="{{ 'assets/img/IPB/IPB04.jpg'| theme }}"
                               data-title="{% if activeLocale == 'fr' %} Remise de la récompense : un chèque de 8000€ {% else %} Cash prize reward: 8000€ {% endif %}"
                               data-lightbox="picture-set-award">
                            </a>
                            <a class="experience-picture"
                               href="{{ 'assets/img/IPB/campus-microsoft.jpg'| theme }}"
                               data-title="{% if activeLocale == 'fr' %} Siège Microsoft France, Issy-les-Moulineaux {% else %} Microsoft France Headquarters, Paris {% endif %}"
                               data-lightbox="picture-set-award">
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------>

<div id="home-technology" class="home-technology scrollspy">
    <div class="container">

        <div class="block-title">
            <h1>
                {% if activeLocale == 'fr' %} Compétences Techniques
                {% else %} Technical Skills {% endif %}
            </h1>
        </div>

        <div class="row technologies">

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/angular.svg'| theme }}">
                    <div class="details">
                        <h1>Angular</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2014 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+15</b> projets
                            {% else %} years of experience <br> Used in <b>+15</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> AngularJS</li>
                        <li><i class="fa fa-circle"></i> Angular 4.0</li>
                        <li><i class="fa fa-circle"></i> Material</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/html.png'| theme }}">
                    <div class="details">
                        <h1>HTML</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2012 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+25</b> projets
                            {% else %} years of experience <br> Used in <b>+25</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> HTML 5</li>
                        <li><i class="fa fa-circle"></i> XML</li>
                        <li><i class="fa fa-circle"></i> XLS</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/css.png'| theme }}">
                    <div class="details">
                        <h1>CSS</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2012 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+25</b> projets
                            {% else %} years of experience <br> Used in <b>+25</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> CSS 3</li>
                        <li><i class="fa fa-circle"></i> SASS</li>
                        <li><i class="fa fa-circle"></i> LESS</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/js.png'| theme }}">
                    <div class="details">
                        <h1>JavaScript</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2012 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+20</b> projets
                            {% else %} years of experience <br> Used in <b>+20</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> jQuery</li>
                        <li><i class="fa fa-circle"></i> React.js</li>
                        <li><i class="fa fa-circle"></i> Node.js</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/java.svg'| theme }}">
                    <div class="details">
                        <h1>Java</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2014 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+15</b> projets
                            {% else %} years of experience <br> Used in <b>+15</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> JEE</li>
                        <li><i class="fa fa-circle"></i> Spring</li>
                        <li><i class="fa fa-circle"></i> REST API</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/scala.png'| theme }}">
                    <div class="details">
                        <h1>Scala</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2016 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+5</b> projets
                            {% else %} years of experience <br> Used in <b>+5</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> Scala 2</li>
                        <li><i class="fa fa-circle"></i> Akka</li>
                        <li><i class="fa fa-circle"></i> Play</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/php.png'| theme }}">
                    <div class="details">
                        <h1>PHP</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2013 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+15</b> projets
                            {% else %} years of experience <br> Used in <b>+15</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> PHP 7</li>
                        <li><i class="fa fa-circle"></i> Laravel</li>
                        <li><i class="fa fa-circle"></i> Symfony</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/sql.png'| theme }}">
                    <div class="details">
                        <h1>Database</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2012 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+25</b> projets
                            {% else %} years of experience <br> Used in <b>+25</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> MySQL</li>
                        <li><i class="fa fa-circle"></i> Oracle</li>
                        <li><i class="fa fa-circle"></i> MongoDB</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/c.png'| theme }}">
                    <div class="details">
                        <h1>Langage C</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2014 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+5</b> projets
                            {% else %} years of experience <br> Used in <b>+5</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> C</li>
                        <li><i class="fa fa-circle"></i> C++</li>
                        <li><i class="fa fa-circle"></i> C#</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/atlassian.png'| theme }}">
                    <div class="details">
                        <h1>{% if activeLocale == 'fr' %} Méthode Agile {% else %} Agile Method {% endif %}</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2013 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+25</b> projets
                            {% else %} years of experience <br> Used in <b>+25</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> JIRA</li>
                        <li><i class="fa fa-circle"></i> Confluence</li>
                        <li><i class="fa fa-circle"></i> Bitbucket</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/adobe.png'| theme }}">
                    <div class="details">
                        <h1>Adobe Suite</h1>
                        <p>
                            <b>{{ "now"|date('Y') - 2011 }}</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>+25</b> projets
                            {% else %} years of experience <br> Used in <b>+25</b> projects {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> Photoshop</li>
                        <li><i class="fa fa-circle"></i> Illustrator</li>
                        <li><i class="fa fa-circle"></i> Premiere Pro</li>
                    </ul>
                </div>
            </div>

            <div class="col l3 m6 s6">
                <div class="technology">
                    <img src="{{ 'assets/img/logos/troll.png'| theme }}">
                    <div class="details">
                        <h1>Funny Code</h1>
                        <p>
                            <b>-10</b>
                            {% if activeLocale == 'fr' %} ans d'expérience <br> Utilisé dans <b>0</b> projet concret
                            {% else %} years of experience <br> Used in <b>0</b> concrete project {% endif %}
                        </p>
                    </div>
                    <ul>
                        <li><i class="fa fa-circle"></i> Prolog </li>
                        <li><i class="fa fa-circle"></i> OCaml </li>
                        <li><i class="fa fa-circle"></i> Brainfuck</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>

<!------------------------------------------------>

<div class="home-map">
    <div id="contact-map" class="contact-map"></div>
    <div class="property-map-info">
        <h1>
            {% if activeLocale == 'fr' %} Ma localisation
            {% else %} My location {% endif %}
        </h1>
        <h2>
            <i class="fa fa-globe"></i>
            {% if activeLocale == 'fr' %} Dans le monde
            {% else %} In the world {% endif %}
        </h2>
    </div>
</div>

<!------------------------------------------------>

<div id="home-international" class="home-international scrollspy">
    <div class="container">

        <div class="block-title">
            <h1>
                {% if activeLocale == 'fr' %} Langues
                {% else %} Languages {% endif %}
            </h1>
        </div>

        <div class="langues row">

            <div class="col l4 m12 s12">
                <img src="{{ 'assets/img/flags/UK.png'| theme }}">
                <h1>{% if activeLocale == 'fr' %} Anglais {% else %} English {% endif %}</h1>
                <div class="level">{% if activeLocale == 'fr' %} Bilingue {% else %} Fluent {% endif %}</div>
                <div class="items">
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 12 mois aux États-Unis
                            {% else %} 12 months in the US {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 3 mois en Irlande
                            {% else %} 3 months in Ireland {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            TOEIC 2015 : 884/990
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col l4 m12 s12">
                <img src="{{ 'assets/img/flags/FR.png'| theme }}">
                <h1>{% if activeLocale == 'fr' %} Français {% else %} French {% endif %}</h1>
                <div class="level">{% if activeLocale == 'fr' %} Langue Natale {% else %} Native Language {% endif %}</div>
                <div class="items">
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 1er prix d'éloquence 2012
                            {% else %} 1st prize eloquence 2012 {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 5ème prix d'éloquence 2013
                            {% else %} 5th prize eloquence 2013 {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 1er prix d'éloquence 2014
                            {% else %} 1st prize eloquence 2014 {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col l4 m12 s12">
                <img src="{{ 'assets/img/flags/ES.png'| theme }}">
                <h1>Espagnol</h1>
                <div class="level">{% if activeLocale == 'fr' %} Intermédiaire {% else %} Intermediate {% endif %}</div>
                <div class="items">
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 8 années de cours
                            {% else %} 8 years school course {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 1 mois à Madrid
                            {% else %} 1 month in Madrid {% endif %}
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            {% if activeLocale == 'fr' %} 1 mois à Barcelone
                            {% else %} 1 month in Barcelona {% endif %}
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>

<!------------------------------------------------>

<div class="home-cool">
    <div class="container-fluid">
        <div class="row">
            <h1>
                {% if activeLocale == 'fr' %} En dehors du travail ?
                {% else %} Outside work? {% endif %}
            </h1>
            <h1 id="typeWriteHome-{{activeLocale}}"></h1>
            <a href="{{ 'about'|page }}" class="button-about">
                {% if activeLocale == 'fr' %} Découvrir
                {% else %} Learn more about me {% endif %}
            </a>
        </div>
    </div>
</div>

<!------------------------------------------------>

<div class="page-contact">
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 m8 offset-m2 s12">
                {% partial 'contact' %}
            </div>
        </div>
    </div>
</div>

<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>

<!------------------------------------------------>