title = "websites"
url = "/websites"
layout = "standard"
is_hidden = 0
==

<section class="websites-hero">
    <section><img src="{{ 'assets/img/cameleon.png'| theme }}"></section>
    <h1>Caméléon Design</h1>
    <div class="separator"></div>
    <h2>
        {% if activeLocale == 'fr' %} Conception de sites internet
        {% else %} Website design & development {% endif %}
    </h2>
    <h3>
        Simple
        <i class="fa fa-circle"></i>
        {% if activeLocale == 'fr' %} Épuré
        {% else %} Clean {% endif %}
        <i class="fa fa-circle"></i>
        Design
    </h3>
</section>

<section class="websites-services">
    <div class="container">

        <img src="{{ 'assets/img/logos/globe.png'| theme }}">

        <div class="block-title">
            <h1>
                {% if activeLocale == 'fr' %} Création de sites web
                {% else %} Website creation {% endif %}
            </h1>
            <div class="custom-line"></div>
        </div>

        <div class="intro">
            <p>
                {% if activeLocale == 'fr' %}
                Depuis {{ "now"|date('Y') - 2015 }} ans, je place l'innovation au service des entreprises en réalisant
                des sites internet dont le design s'ancre dans la tendance du web d'aujourd'hui. Je décompose la construction d'un
                site en 6 parties, détaillées ci-contre.
                {% else %}
                For {{ "now"|date('Y') - 2015 }} years already, I have placed innovation at the forefront of companies development by
                creating websites whose design is inspired by new Internet trends and concepts. I break down website
                realisation in 6 parts, as detailed below.
                {% endif %}
            </p>
        </div>

        <div class="services row">

            <div class="col l4 m6 s12" onclick="triggerTab('tab1')">
                <i class="fa fa-magic"></i>
                <h1>Design</h1>
                <p>
                    {% if activeLocale == 'fr' %} Construction du site, charte graphique, création logo, développement contenu
                    {% else %} Website development, graphic charter, logo design, content optimization {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s12" onclick="triggerTab('tab2')">
                <i class="fa fa-laptop"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Adaptabilité
                    {% else %} Adaptability {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Site internet responsive fonctionnel sur tous les types d'appareils et navigateurs
                    {% else %} Responsive website adapting its display on any device and any browser {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s12" onclick="triggerTab('tab3')">
                <i class="fa fa-hdd-o"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Hébergement
                    {% else %} Hosting {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Nom de domaine, hébergement et base de données pris en compte et renouvelés
                    {% else %} Management and annual renewal of domain name, website hosting and database {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s12" onclick="triggerTab('tab4')">
                <i class="fa fa-wrench"></i>
                <h1>Maintenance</h1>
                <p>
                    {% if activeLocale == 'fr' %} Maintenance du site internet et possibilité d'ajouter de nouvelles fonctionnalités
                    {% else %} Website maintenance and possibility to add new features after the website creation {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s12" onclick="triggerTab('tab5')">
                <i class="fa fa-line-chart"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Référencement
                    {% else %} SEO ready {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Optimisation SEO de l'architecture du site pour améliorer son référencement
                    {% else %} Search Engine Optimization of the website architecture to improve its search rank {% endif %}
                </p>
            </div>

            <div class="col l4 m6 s12" onclick="triggerTab('tab6')">
                <i class="fa fa-lock"></i>
                <h1>
                    {% if activeLocale == 'fr' %} Administration
                    {% else %} Management {% endif %}
                </h1>
                <p>
                    {% if activeLocale == 'fr' %} Suivi du trafic sur le site, modification du contenu via l'interface administrateur
                    {% else %} The backend allows administrators to check the traffic on the site and edit its content {% endif %}
                </p>
            </div>

        </div>

    </div>
</section>

<section id="websites-tabs" class="websites-tabs">
    <div class="container-fluid">

        <div class="row">

            <!-- TABS HEADERS -->
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s2"><a href="#tab1" class="active"><i class="fa fa-magic"></i><h1 class="hide-on-med-and-down">Design</h1></a></li>
                    <li class="tab col s2"><a href="#tab2"><i class="fa fa-laptop"></i><h1 class="hide-on-med-and-down">Adaptabilité</h1></a></li>
                    <li class="tab col s2"><a href="#tab3"><i class="fa fa-hdd-o"></i><h1 class="hide-on-med-and-down">Hébergement</h1></a></li>
                    <li class="tab col s2"><a href="#tab4"><i class="fa fa-wrench"></i><h1 class="hide-on-med-and-down">Maintenance</h1></a></li>
                    <li class="tab col s2"><a href="#tab5"><i class="fa fa-line-chart"></i ><h1 class="hide-on-med-and-down">Référencement</h1></a></li>
                    <li class="tab col s2"><a href="#tab6"><i class="fa fa-lock"></i><h1 class="hide-on-med-and-down">Administration</h1></a></li>
                </ul>
            </div>

            <!-- DESIGN TAB -->
            <div id="tab1" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Design épuré & innovant <br>pour votre site</h1>
                            <img class="cover-picture border-picture" src="{{ 'assets/img/webdesign.jpg'| theme }}">
                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-pencil-square-o"></i>Mise en place de la charte graphique</li>
                                        <li><i class="fa fa-magic"></i>Création d'un logo pour le projet</li>
                                        <li><i class="fa fa-code"></i>Construction des pages du site</li>
                                        <li><i class="fa fa-file-text-o"></i>Développement du contenu</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        La charte graphique est un ensemble de règles qui vont définir comment et dans quelles conditions vous allez utiliser
                                        vos éléments visuels. Ce document définit l'identité visuelle de votre projet et in fine, il est l'outil qui vous fera
                                        exister par association dans l'esprit des gens. Le but de la charte graphique est d'assurer une cohérence,
                                        une harmonisation dans tous les supports de communication de votre projet.
                                        <br><br>
                                         La réalisation du logo est plus évidente une fois la charte graphique mise en place.
                                        Dans le cas où vous auriez déja un logo, la charte graphique peut s'en inspirer en reprenant les couleurs ou le style de police.
                                        <br><br>
                                         L'étape suivante de la réalisation du site consiste à construire ensemble une maquette simplifiée des pages du site en
                                        choisissant le type de contenu à afficher (carousel, images, vidéos, etc).
                                        <br><br>
                                         Une fois cette maquette réalisée, je développe une première version du site à faire évoluer ensemble par la suite.
                                        L'étape finale consiste à optimiser le contenu texte et média du site
                                        comme par exemple en retouchant les photos ou en améliorant le contenu texte.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RESPONSIVE TAB -->
            <div id="tab2" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Site compatible avec <br> tous les Appareils et Navigateurs</h1>
                            <div class="adaptability">
                                <img src="{{ 'assets/img/responsive.png'| theme }}">

                            </div>
                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-desktop"></i>Compatible avec tous les appareils</li>
                                        <li><i class="fa fa-chrome"></i>Compatible avec les navigateurs web</li>
                                        <li><i class="fa fa-globe"></i>Possibilité de site multilingue</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        En 2017, la navigation web dans le monde compte 48% de navigation sur mobile, 47% sur ordinateur et 5% sur tablette.
                                        Ces statistiques confirment le fait qu'un site web doit pouvoir être consulté depuis n'importe quel appareil ou navigateur.
                                        <br><br>
                                        Je développe avec les frameworks <a href="https://material.angular.io/" target="_blank">Angular Material</a> et
                                        <a href="http://materializecss.com/" target="_blank">MaterializeCSS</a>
                                        pour assurer une compatibilité maximale du site avec l'ensemble des appareils et navigateurs.
                                        <br><br>
                                        Le site développé sera donc consultable sur ordinateur de bureau, tablette et mobile depuis l'ensemble des navigateurs.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- HOSTING TAB -->
            <div id="tab3" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Domaine & Hébergement</h1>
                            <img src="{{ 'assets/img/logos/ovh.png'| theme}}" class="logo-company" style="margin-top:5px;margin-bottom:30px;">
                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-globe"></i>Engistrement du nom de domaine</li>
                                        <li><i class="fa fa-hdd-o"></i>Hébergement sur serveur mutualisé</li>
                                        <li><i class="fa fa-link"></i>Création d'une base de données</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        Pour mettre en ligne un site internet, il est nécessaire d'enregistrer un nom de domaine,
                                        disposer d'un hébergement contenant la structure du site et lier une base de données à cet hébergement pour y stocker les
                                        données.
                                        <br><br>
                                        Lors de la création d'un site web, je prends en charge l'ensemble de ces opérations :
                                        hébergement du site sur un serveur mutualisé <a href="https://www.ovh.com" target="_blank">OVH</a>,
                                        mise en place d'une nouvelle base de données et renouvelement annuel de votre nom de domaine.
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- MAINTENANCE TAB -->
            <div id="tab4" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Maintenance & Évolution du site</h1>
                            <img src="{{ 'assets/img/logos/october.png'| theme}}" class="logo-company">

                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-wrench"></i>Maintenance régulière du site</li>
                                        <li><i class="fa fa-cog"></i>Changements mineurs rapides</li>
                                        <li><i class="fa fa-plus"></i>Ajout de nouvelles fonctionnalités</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        Après avoir réalisé le site internet, j'assure une maintenance régulière de
                                        l'architecture pour garantir un fonctionnement optimal sur la durée.
                                        <br><br>
                                        Lorsque des changements mineurs ou l'ajout de nouvelles fonctionnalités deviennent nécessaires,
                                        modifier le contenu du site est très rapide grâce à l'architecture modulaire mise en place.
                                        <br><br>
                                        Je développe l'architecture du site avec le CMS (Content Management System)
                                        <a href="https://octobercms.com/" target="_blank">OctoberCMS</a>
                                        permettant de maintenir et de faire évoluer le site et son back office efficacement.
                                    </p>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- SEO TAB -->
            <div id="tab5" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Référencement naturel optimisé</h1>
                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-bar-chart"></i>Optimisation référencement naturel</li>
                                        <li><i class="fa fa-plus"></i>Ajout de métadonnées SEO</li>
                                        <li><i class="fa fa-lock"></i>Option de cerficat HTTPS</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        Le référencement (en anglais SEO pour Search Engine Optimization, traduisez Optimisation pour les moteurs de recherche)
                                        désigne l'ensemble des techniques permettant d'améliorer la visibilité d'un site web, à savoir le positionnement
                                        des pages d'un site en bonne place dans les pages de résultats pour certains mots-clés.
                                        <br><br>
                                        Je mets ces techniques en application sur les sites que je conçois pour un résultat de référencement naturel optimal.
                                        Le HTTPS est devenu un des points clés du web de 2017.
                                        <br><br>
                                        Ce protocole est la version sécurisée de HTTP et assure le chiffrement
                                        de l'ensemble des communications entre le navigateur de l'utilisateur et le site consulté. Disposer d'un certificat HTTPS pour son site
                                        permet également d'améliorer son référencement.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADMINISTRATION TAB -->
            <div id="tab6" class="col s12 tab-content">
                <div class="container">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s12">
                            <h1>Interface administrateur</h1>
                            <a href="{{ 'assets/img/Interface-Admin.png'| theme }}" data-lightbox="picture-set-admin-tab">
                                <img class="cover-picture border-picture" src="{{ 'assets/img/Interface-Admin.png'| theme }}">
                            </a>
                            <div class="row">
                                <div class="col l5 m12 s12">
                                    <ul>
                                        <h2>Services</h2>
                                        <li><i class="fa fa-pie-chart"></i>Interface de suivi du trafic du site</li>
                                        <li><i class="fa fa-google"></i>Données récoltées par Google Analytics</li>
                                        <li><i class="fa fa-cloud-upload"></i>Modification directe du contenu du site</li>
                                    </ul>
                                </div>
                                <div class="col l7 m12 s12">
                                    <p>
                                        L'espace administrateur intégré au site permet de consulter le trafic ayant lieu sur le site à travers plusieurs paramètres :
                                        le nombre de visiteurs au cours du temps, les pages les plus visitées, les types d'appareils et navigateurs utilisés.
                                        <br><br>
                                        Ces données récoltées en temps réel par Google Analytics sont fiables et permettent d'ajuster la stratégie de communication de votre
                                        site ainsi que de votre projet.
                                        <br><br>
                                        Un aperçu d'une interface administrateur développée pour un
                                        client est disponible sur la photo ci-contre. Cet espace permet aussi de changer directement le contenu du site internet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="websites-realisations">
    <div class="container">

        <div class="block-title">
            <h1>Quelques Sites Réalisés</h1>
        </div>

        <div class="row realisations">
            <div class="col l6 m6 s12">
                <section style="background-image: url({{ 'assets/img/entreprise/bbluxe.jpg'| theme }});">
                    <div class="mask">
                        <div class="mask-container">
                            <div class="mask-content">
                                <h1>Beyond Biarritz</h1>
                                <p>Location de propriétés de luxe sur la côte basque</p>
                                <a href="https://biarritzdreamrentals.com/" target="_blank">Visiter</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col l6 m6 s12">
                <section style="background-image: url({{ 'assets/img/entreprise/onfocus.jpg'| theme }});">
                    <div class="mask">
                        <div class="mask-container">
                            <div class="mask-content">
                                <h1>OnFocus</h1>
                                <p>Association vidéo-photo-montage</p>
                                <a href="http://www.onfocus.fr/" target="_blank">Visiter</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col l6 m6 s12">
                <section style="background-image: url({{ 'assets/img/entreprise/ucrowd.jpg'| theme }});">
                    <div class="mask">
                        <div class="mask-container">
                            <div class="mask-content">
                                <h1>UCrowd</h1>
                                <p>Réseau social d'entraide de voisinage</p>
                                <a href="http://www.ucrowd.fr/" target="_blank">Visiter</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col l6 m6 s12">
                <section style="background-image: url({{ 'assets/img/entreprise/nightwave.jpg'| theme }});">
                    <div class="mask">
                        <div class="mask-container">
                            <div class="mask-content">
                                <h1>Nightwave</h1>
                                <p>Entreprise DJ du Sud-Ouest de la France</p>
                                <a href="http://www.nightwave.fr/" target="_blank">Visiter</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!------------------------------------------------>

<section class="websites-casestudy">
    <div class="container">
        <h1>- Étude de cas -</h1>
        <h2>Réalisation du site <br> Beyond Biarritz</h2>

        <section class="intro">
            <div class="row">
                <div class="col l7 m12 s12 cover-picture"></div>
                <div class="col l5 m12 s12">
                    <div class="details">
                        <p>
                            {% if activeLocale == 'fr' %}
                                Le site web réalisé pour Beyond Biarritz rentals est une invitation à la découverte du style de vie
                                détendu de la côte Basque à travers une présentation détaillée de propriétés locatives haut de gamme.
                                Les visiteurs peuvent réserver une propriété et payer directement depuis le site.
                                Beyond Biarritz a été fondé en 2003 par Julia Lloyd.
                                Initialement spécialisée dans la vente de propriétés à Biarritz et sur la côte Basque, Julia
                                a noué des liens solides avec ses clients et une équipe de bâtisseurs locaux,
                                commerçants, fournisseurs et artisans de la région. Cette équipe de professionnels passionnés partagent le désir de satisfaire.
                                Le succès de cette relation a conduit à la création d'une filiale,
                                Beyond Biarritz rentals, traitant uniquement de locations sur la côte Basque et gérée par Marion Idiart.

                            {% else %}
                                The website is an invitation to discover the relaxed Basque coast lifestyle through a rental properties showcase.
                                Customers can make a reservation for a property and pay on the website.
                                Beyond Biarritz was founded in 2003 by Julia Lloyd.
                                Whilst initially sourcing and selling properties in Biarritz and beyond,
                                she built up trusted relationships not only with her clients but with a whole team of local builders,
                                tradesmen, suppliers and artisans creating a reliable and professional team with one common denominator –
                                they are passionate about their desire to please.
                                This success has led to the creation of a sister company,
                                Beyond Biarritz rentals dealing solely with rentals in the Basque coast and managed by Marion Idiart.
                            {% endif %}
                        </p>
                        <ul>
                            <li>
                                <span><i class="fa fa-clock-o"></i>Réalisation</span>
                                <span>4 mois</span>
                            </li>
                            <li>
                                <span><i class="fa fa-bookmark-o"></i>Activité</span>
                                <span>Location propriétés de luxe</span>
                            </li>
                            <li>
                                <span><i class="fa fa-laptop"></i>Lien du site</span>
                                <span>biarritzdreamrentals.com</span>
                            </li>
                        </ul>
                        <a href="https://biarritzdreamrentals.com" target="_blank">
                            <div class="button-site"><i class="fa fa-globe"></i> Visiter le site</div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="step">
            <h1><i class="fa fa-magic"></i> Design du site <i class="fa fa-circle"></i></h1>
            <div class="container">

                <h2><i class="fa fa-circle"></i>Mise en place de la Charte graphique</h2>
                <section>
                    <p>
                        Le site Beyond Biarritz rentals est un reflet de la côte Basque et de son style de vie détendu.
                        Dans le but de mettre en place une atmosphère de vacances, nous avons repris les couleurs chaleureuses du sable de plage et du bleu azur de l'océan.
                        L'association de ces deux couleurs avec le blanc est claire et harmonieuse.
                        Nous avons également ajouté une couleur foncée principalement utilisée pour les textes, afin de les faire ressortir par rapport aux couleurs claires.
                    </p>
                    <div class="colors">
                        <div class="color">
                            <div style="background: #4cafac;"></div>
                            <span>Bleu océan azur <br> Référence <span style="color: #4cafac;">#4cafac</span></span>
                        </div>
                        <div class="color">
                            <div style="background: #efd466;"></div>
                            <span>Jaune sable de plage <br> Référence <span style="color: #efd466;">#efd466</span></span>
                        </div>
                        <div class="color">
                            <div style="background: #103f45;"></div>
                            <span>Bleu marine foncé <br> Référence <span style="color: #103f45;">#103f45</span></span>
                        </div>
                    </div>
                    <div class="testimonial">
                        <img src="{{ 'assets/img/bbluxe/julia.jpg'| theme }}">
                        <div class="customer">
                            <h1>Julia Lloyd</h1>
                            <h2>Founder of Beyond Biarritz</h2>
                        </div>
                        <p>
                            <i class="fa fa-angle-double-left" style="margin-right: 8px"></i>
                            When the final design came through, I was absolutely delighted and happy to see that the site
                            was exactly as I had envisaged it, even better!
                            Since the website has been live, we have had numerous positive comments about the site, the colours, the photos,
                            the layout and ease of navigation. People don’t just enquire now, they compliment the site too which is great.
                            <i class="fa fa-angle-double-right" style="margin-left: 8px"></i>
                        </p>
                    </div>
                </section>

                <h2><i class="fa fa-circle"></i> Création du logo</h2>
                <section>
                    <p>
                        Le logo est la clef de voûte de l'identité graphique de tout projet.
                        Travaillant avec des artisans et professionnels locaux,
                        l'entreprise Beyond Biarritz rentals souhaitait réaliser un logo rappelant la culture Basque.
                        J'ai créer plusieurs versions d'un logo reprenant le motif du lingue traditionnel Basque, élément culturel caractéristique de cette région.
                        Les différents modèles de logo reprennent les couleurs de la charte graphique et ont permis d'affiner la version finale, exposée ci-contre.
                    </p>
                    <div class="logowork">
                        <a href="{{ 'assets/img/bbluxe/logowork.jpg'| theme }}" data-lightbox="picture-set-logowork">
                            <img src="{{ 'assets/img/bbluxe/logowork.jpg'| theme }}" class="panel">
                        </a>
                        <a href="{{ 'assets/img/logos/bb01.jpg'| theme }}" data-lightbox="picture-set-logowork">
                            <img src="{{ 'assets/img/logos/bb02.png'| theme }}" class="finished">
                        </a>
                    </div>
                </section>

                <h2><i class="fa fa-circle"></i> Construction des pages du site</h2>
                <section>
                    <p>
                        Le site Beyond Biarritz rentals s'articule autour de 6 pages réalisées :
                        <ul>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com" target="_blank">Home</a> - introduction aux services proposés par l'entreprise</li>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com/properties" target="_blank">Properties</a> - liste des villas et appartements locatifs</li>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com/properties/villa-des-cretes" target="_blank">Property</a> - description d'une propriété sélectionnée</li>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com/properties/villa-des-cretes/book" target="_blank">Reservation</a> - réserver une propriété sélectionnée et payer</li>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com/aboutus" target="_blank">About Us</a> - informations sur l'histoire de l'entreprise et son équipe</li>
                            <li><i class="fa fa-circle-o"></i><a href="https://biarritzdreamrentals.com/contact" target="_blank">Contact</a> - contacter l'entreprise pour plus d'informations</li>
                        </ul>
                    </p>
                </section>

                <h2><i class="fa fa-circle"></i> Réalisation de cartes de visite</h2>
                <section>
                    <p>
                        Beyond Biarritz rentals m'a également confié la réalisation de ses cartes de visites.
                        J'ai choisi un contour foncé et épais pour un rendu professionnel tout en retravaillant le logo qui vient se superposer à cette bordure.
                        L'image de fond est une photo de la côte de San Sebastian, prise par le photographe de l'entreprise.
                    </p>
                    <div class="testimonial">
                        <img src="{{ 'assets/img/bbluxe/julia.jpg'| theme }}">
                        <div class="customer">
                            <h1>Julia Lloyd</h1>
                            <h2>Founder of Beyond Biarritz</h2>
                        </div>
                        <p>
                            <i class="fa fa-angle-double-left" style="margin-right: 8px"></i>
                            I was so pleased with Pierre-Baptiste's ideas that I asked him to develop a new branding for
                            the website and also a business card design, all of which I now use and am very pleased with.
                            Once I had given him the pointers he came back to me with options using my ideas but also bringing in his own.
                            <i class="fa fa-angle-double-right" style="margin-left: 8px"></i>
                        </p>
                    </div>
                    <a href="{{ 'assets/img/bbluxe/businesscards.jpg'| theme }}" data-lightbox="picture-set-cards">
                        <img src="{{ 'assets/img/bbluxe/businesscards.jpg'| theme }}" style="width: 100%; margin-top: 10px; margin-bottom: 12px;">
                    </a>
                </section>

            </div>
        </section>

        <section class="step">
            <h1><i class="fa fa-laptop"></i> Adaptabilité <i class="fa fa-circle"></i></h1>
            <div class="container">

                <h2><i class="fa fa-circle"></i> Compatible avec tous les appareils</h2>
                <section>
                    <p>
                        Le site Beyond Biarritz rentals s'adapte à tout type d'appareil pour une consultation maximum.
                        <br>Le contenu du site se réorganise automatiquement en fonction du type d'appareil utilisé.
                    </p>
                    <a href="{{ 'assets/img/bbluxe/responsive.jpg'| theme }}" data-lightbox="picture-set-responsive">
                        <img src="{{ 'assets/img/bbluxe/responsive.jpg'| theme }}" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                    </a>
                </section>

                <h2><i class="fa fa-circle"></i> Compatible avec tous les navigateurs</h2>
                <section>
                    <div class="row browsers">
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/chrome.png'| theme }}"></div>
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/firefox.png'| theme }}"></div>
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/safari.png'| theme }}"></div>
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/edge.png'| theme }}"></div>
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/explorer.png'| theme }}"></div>
                        <div class="col l2 m4 s6"><img src="{{ 'assets/img/logos/opera.png'| theme }}"></div>
                    </div>
                </section>

            </div>
        </section>

        <section class="step">
            <h1><i class="fa fa-lock"></i> Espace Administrateur <i class="fa fa-circle"></i></h1>
            <div class="container">

                <h2><i class="fa fa-circle"></i> Interface de suivi de trafic </h2>
                <section>
                    <p>
                        L'espace administrateur du site Beyond Biarritz rentals est accessible depuis le site même.
                        La page d'accueil de cet espace administrateur est composée d'une interface de suivi de trafic du site, comme affichée ci-contre.
                        Cette interface permet aux administrateurs du site de consulter le trafic sur le site en tant réel grâce aux données récoltées par Google Analytics.
                        Les données affichées offrent une meilleure compréhension du comportement des visiteurs sur le site.
                    </p>
                    <a href="{{ 'assets/img/Interface-Admin.png'| theme }}" data-lightbox="picture-set-interface-admin">
                        <img class="interface-admin" src="{{ 'assets/img/Interface-Admin.png'| theme }}">
                    </a>
                </section>

                <h2><i class="fa fa-circle"></i> Changement du contenu du site </h2>
                <section>
                    <p>
                        Depuis l'espace administrateur, les gérants du site peuvent changer l'ensemble du contenu des pages.
                        <br>Les administrateurs peuvent effectuer les tâches suivantes :
                        <ul>
                            <li><i class="fa fa-circle-o"></i>Ajouter-Modifier-Supprimer des propriétés</li>
                            <li><i class="fa fa-circle-o"></i>Indiquer la disponibilité de chaque propriété</li>
                            <li><i class="fa fa-circle-o"></i>Créer des tarifs saisonniers pour les locations</li>
                            <li><i class="fa fa-circle-o"></i>Ajouter des témoignages de client</li>
                        </ul>
                    </p>
                    <div class="testimonial">
                        <img src="{{ 'assets/img/bbluxe/julia.jpg'| theme }}">
                        <div class="customer">
                            <h1>Julia Lloyd</h1>
                            <h2>Founder of Beyond Biarritz</h2>
                        </div>
                        <p>
                            <i class="fa fa-angle-double-left" style="margin-right: 8px"></i>
                            Equally important was the back office and the ease with which my colleague could manage the site.
                            Pierre-Baptiste made this work like clockwork and even now we can contact him for any minor
                            changes and he replies promptly and with the same enthusiasm.
                            <i class="fa fa-angle-double-right" style="margin-left: 8px"></i>
                        </p>
                    </div>
                </section>

            </div>
        </section>

    </div>
</section>

<!------------------------------------------------>

<section class="websites-testimonials">
    <div class="container">
        <h1>Ils m'ont fait confiance</h1>
        <div class="testimonial">
            <img src="{{ 'assets/img/bbluxe/julia.jpg'| theme }}">
            <h1>Julia Lloyd</h1>
            <h2>Founder of Beyond Biarritz</h2>
            <p>
                With the expansion of one of the four services that Beyond Biarritz offers,
                we felt the need to develop a separate website for the holiday rentals section.
                I was particularly keen to give a fresher and more modern feel to the new site but maintain a
                link with the current site. With this in mind I felt a young, enthusiastic developer would be best
                and through contacts, came across Pierre-Baptiste. Well I can genuinely say that I never looked back!
                <br>
                From our first meeting on Skype, PB immediately grasped what I was looking for and I instantly felt
                that we were on the same wavelength in terms of style, look and general approach.
                This in itself instilled confidence and his knowledge and insight really inspired me to go ahead and create the website.
                <br>
                Once I had given him the pointers he came back to me with options using my ideas but also bringing in his own.
                <br>
                I particularly loved his enthusiasm for the project and his speedy reactions to every email.
                He looked at every aspect in a positive way and I actually really looked forward to getting his emails!
                Nothing was too much trouble and he was always available to make changes or offer alternatives.
                <br>
                I was so pleased with his ideas that I asked him to develop a new branding for the website and also a business card design,
                all of which I now use and am very pleased with.
                I am painful when it comes to attention to detail yet PB always made every modification without hesitation
                and always with enthusiasm. I felt he was as motivated as I was to get the project complete.
                Over the period of construction, I think we only had two Skype meetings. He had got to grips so quickly that we only
                needed to email information back and forth.
                <br>
                When the final design came through, I was absolutely delighted and happy to see that the site was exactly
                as I had envisaged it, even better!
                Equally important was the back office and the ease with which my colleague could manage the site.
                PB made this work like clockwork and even now we can contact him for any minor hiccups and he replies
                promptly and with the same enthusiasm.
                Since the website has been live, we have had numerous positive comments about the site, the colours, the photos,
                the layout and ease of navigation. People don’t just enquire now, they compliment the site too which is great.
                <br>
                PB is very easy to work with, offers a youthful and enthusiastic approach which is reflected
                in the style that he offers and clearly understands what you want. He is one of the few ‘geeks’
                that actually talks to you in a way that you can understand! I would thoroughly recommend him for
                any media design work.
            </p>
        </div>
    </div>
</section>

<!------------------------------------------------>

<section class="websites-logos">
    <div class="container">
        <h1>Quelques logos réalisés</h1>
        <div class="row">

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/AFE.jpg'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/AFE.jpg'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/DZT.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/DZT.png'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/bb01.jpg'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/bb01.jpg'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/veistiaire.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/veistiaire.png'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/gte.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/gte.png'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/avance.jpg'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/avance.jpg'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/powerspike.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/powerspike.png'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/cameleon.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/cameleon.png'| theme }}">
                </a>
            </div>

            <div class="col l4 m6 s12">
                <a href="{{ 'assets/img/logos/unclesam.png'| theme }}" data-lightbox="picture-set-logos">
                    <img src="{{ 'assets/img/logos/unclesam.png'| theme }}">
                </a>
            </div>

        </div>
    </div>
</section>

<!------------------------------------------------>

<div class="page-contact">
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 m8 offset-m2 s12">
                {% partial 'contact' %}
            </div>
        </div>
    </div>
</div>

<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>

<!------------------------------------------------>